In [ ]:
## Iván Andrés Trujillo Abella
## ivantrujillo1229@gmail.com

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Encoding 

Some algorithms not support the uses of categorical data (in string format) therefore we could need transform to numerical data, we are goint to conisder the example in bankruptcy dataset.

In [2]:
df = {'Sector':['Agricultural' , 'Financial', 'Agricultural', 'Financial', 
                  'Technological', 'Fincial', 'Agricultural' , 'Technological'],
      'Bankruptcy': ['Yes', 'No', 'Yes', 'No', 'Yes','No', 'No', 'No'],
      'Income': ['Small', 'High', 'Small', 'High', 'Medium', 'Medium', 'High', 'High']}

df = pd.DataFrame(df)

* OneHotEncoder for unordered nominal data.

* OrdinalEncoder for ordered ordinal data.

* LabelBinarizer

```python
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
```

In [3]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
ohe = OneHotEncoder(handle_unknown='ignore') # Create the object
ohe_df = pd.DataFrame(ohe.fit_transform(df[['Bankruptcy']]).toarray())  #create a dataframe with the data
df.join(ohe_df) # join the datasets...

          Sector Bankruptcy  Income    0    1
0   Agricultural        Yes   Small  0.0  1.0
1      Financial         No    High  1.0  0.0
2   Agricultural        Yes   Small  0.0  1.0
3      Financial         No    High  1.0  0.0
4  Technological        Yes  Medium  0.0  1.0
5        Fincial         No  Medium  1.0  0.0
6   Agricultural         No    High  1.0  0.0
7  Technological         No    High  1.0  0.0

In [4]:
# We can  drop the original categorical variable
df.drop(columns=['Bankruptcy']) # Remeber that this have inplace method

          Sector  Income
0   Agricultural   Small
1      Financial    High
2   Agricultural   Small
3      Financial    High
4  Technological  Medium
5        Fincial  Medium
6   Agricultural    High
7  Technological    High

In [5]:
ohe.categories_  # see the categories stored by the object

[array(['No', 'Yes'], dtype=object)]

In [6]:
# Therefore we could rewrite 
ohe_df = pd.DataFrame(ohe.fit_transform(df[['Bankruptcy']]).toarray())  #create a dataframe with the data
ohe_df.columns = ohe.get_feature_names_out(['Bankruptcy'])  #Names ohe.get_feature_names_out()-> all dummies
df.join(ohe_df) # join the datasets...  df = pd.concat([df, dummy_var], axis=1)  what is better?

          Sector Bankruptcy  Income  Bankruptcy_No  Bankruptcy_Yes
0   Agricultural        Yes   Small            0.0             1.0
1      Financial         No    High            1.0             0.0
2   Agricultural        Yes   Small            0.0             1.0
3      Financial         No    High            1.0             0.0
4  Technological        Yes  Medium            0.0             1.0
5        Fincial         No  Medium            1.0             0.0
6   Agricultural         No    High            1.0             0.0
7  Technological         No    High            1.0             0.0

##  get_dummies

In [7]:
dummies = pd.get_dummies(df['Bankruptcy'])
df.join(dummies)

          Sector Bankruptcy  Income  No  Yes
0   Agricultural        Yes   Small   0    1
1      Financial         No    High   1    0
2   Agricultural        Yes   Small   0    1
3      Financial         No    High   1    0
4  Technological        Yes  Medium   0    1
5        Fincial         No  Medium   1    0
6   Agricultural         No    High   1    0
7  Technological         No    High   1    0

apparentely is easier way of get the same result, however, 
in ML, this could be not practical, namely in Machine Learning uses OneHotEncoder!!.

Notice, for EDA is practical get_dummies() but for  machine learning OneHotEncoder.

We are going to have problems, we fit a model in training when we need test if there is not the variable we could have problems!.

In [8]:
# Example
# Think that categories could vary over train and test datasets..

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
df = {'Sector':['Agricultural' , 'Financial', 'Agricultural', 'Financial', 
                  'Another', 'Finacial'],
      'Bankruptcy': ['Yes', 'No', 'Yes', 'No', 'Yes','No'],
      'Income': ['Small', 'High', 'Small', 'High', 'Medium', 'High']}

df = pd.DataFrame(df)

In [11]:
# First save the categorical varaibles of the original data..
ohe = OneHotEncoder(handle_unknown='ignore') # Create the object
df_train, df_test = df.iloc[:-1, :], df.iloc[-2:, :]

In [12]:
pd.get_dummies(df_train['Sector'])

   Agricultural  Another  Financial
0             1        0          0
1             0        0          1
2             1        0          0
3             0        0          1
4             0        1          0

In [13]:
pd.get_dummies(df_test['Sector']) # We dont have agricultural!!

   Another  Finacial
4        1         0
5        0         1

In [14]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
X_train_ohe = ohe.fit_transform(df_train[['Sector']])
X_test_ohe = ohe.transform(df_test[['Sector']])
#ohe.get_feature_names_out()

In [15]:
cols_ohe = ohe.get_feature_names_out()
X_train_ohe = pd.DataFrame(X_train_ohe, columns=cols_ohe)
X_test_ohe = pd.DataFrame(X_test_ohe, columns=cols_ohe)

In [16]:
X_train_ohe

   Sector_Agricultural  Sector_Another  Sector_Financial
0                  1.0             0.0               0.0
1                  0.0             0.0               1.0
2                  1.0             0.0               0.0
3                  0.0             0.0               1.0
4                  0.0             1.0               0.0

In [17]:
X_test_ohe  # It is very nice and important!!

   Sector_Agricultural  Sector_Another  Sector_Financial
0                  0.0             1.0               0.0
1                  0.0             0.0               0.0

In [18]:
ohe.categories_

[array(['Agricultural', 'Another', 'Financial'], dtype=object)]

# label encoder

The goal is take a categorical variable and pass its values to numerical...
the map (assignation ) is based in alphabetical order.

```python
from sklearn.preprocessing import LabelEncoder
```

le = LabelEncoder()

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sector-numerical'] = le.fit_transform((df['Sector']))

In [20]:
df  # Notice that map from 0 to n-1  where n is the number of classes.  
#lab.inverse_transform(df['team'])  the inverse function how works?

         Sector Bankruptcy  Income  Sector-numerical
0  Agricultural        Yes   Small                 0
1     Financial         No    High                 3
2  Agricultural        Yes   Small                 0
3     Financial         No    High                 3
4       Another        Yes  Medium                 1
5      Finacial         No    High                 2