# Train_test_val split
The following notebook allow us undertand how works the funtion

* train_test_split()


```python
from sklearn.model_selection import train_test_split
```


Parameters:
* arrays the order could be X-input features and y-target variable
*  test_size(percentage): the proportion of data to be assigned to test split.
* random_state to make reproducible the split.

* Shuffle ( Boolean) suffle the or not the data before of spliting

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = {'Person':['A','B','C','D','E','F','G','H','I', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R'],
       'Income':[10,11,12,15,16,18,22,23,13,2,22,12,12,12,5,31,21],
        'target':[1,0,1,1,1,0,0,1,1,1,0,0,1,1,0,1,1]
        }
data = pd.DataFrame(data)
# Separate the data with X(features), y(target)
X = data[['Person', 'Income']]
y = data['target']

In [ ]:
# Keep the number of rows
N = data.shape[0]
# We could see the data
data

   Person  Income  target
0       A      10       1
1       B      11       0
2       C      12       1
3       D      15       1
4       E      16       1
5       F      18       0
6       G      22       0
7       H      23       1
8       I      13       1
9       J       2       1
10      K      22       0
11      L      12       0
12      M      12       1
13      N      12       1
14      P       5       0
15      Q      31       1
16      R      21       1

you also could make a 80%- 20% training and test respectively.

In [ ]:
# With
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, random_state = 8)

In [ ]:
# Split for X (features)
print('percentage of data in X_train', X_train.shape[0]/N)
print('percentage of data in X_test', X_test.shape[0]/N)

percentage of data in X_train 0.7647058823529411
percentage of data in X_test 0.23529411764705882

In [ ]:
# Split for y(target)
print('percentage of data in y_train', y_train.shape[0]/N)
print('percentage of data in y_test', y_test.shape[0]/N)

percentage of data in y_train 0.7647058823529411
percentage of data in y_test 0.23529411764705882

# Crate Validation set (Dataset of validation)


we could to divide de data in train, split and validation..*for  What ?*


* Validation set to adjust hyperparameters


* Test set to test how it is the performance

Is better this or cross-validation?

We are going to create X_val(X_validation) from X_train.

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train,test_size=0.25, random_state= 8)
# Test stratified

In [ ]:
print(X_val)

   Person  Income
10      K      22
1       B      11
4       E      16
5       F      18

# balanced data in train and test?

We have training  and testing the models with equal proportion of classes in each one, for instance from 100 observation(80 belonging to class 1 and 20 belonging to class 0), and in test could appear only class 1, therefore you could no asses the performance for class 0.


Remember that our goal is see how to be perform in new data.

With proportional classes, with have a better contrafacutal of the simulation in real cases.


we need add to the function (train_test_split) the argument
```python
stratify = y
```

Also we could uses

```python
from sklearn.model_selection import StratifiedShuffleSplit
```

StratifiedShuffleSplit also of stratified has a suffle therefore

*'contrary to other cross-validation strategies, random splits do not guarantee that all folds will be different, although this is still very likely for sizeable datasets'*(See documentation)

We are seeking a more realistic estimation of the performance of my model.

StratifiedShuffleSplit give us the indices to make split in train and test, with proportionally of classes and making a shuffle.

In [ ]:
# Notice the distribuciton of classes...
print(data['target'].value_counts())
print(11/6)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, random_state = 0)

# with 8  equal and two times more
print(y_train.value_counts())
print(9/4)


print(y_test.value_counts())
print(2/2)

# is three times! more in test than in train

1    11
0     6
Name: target, dtype: int64
1.8333333333333333
1    9
0    4
Name: target, dtype: int64
2.25
0    2
1    2
Name: target, dtype: int64
1.0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, stratify = y)

In [ ]:
# with 8  equal and two times more
print(y_train.value_counts())
print(8/5)
print(y_test.value_counts())
print(3/1)

1    8
0    5
Name: target, dtype: int64
1.6
1    3
0    1
Name: target, dtype: int64
3.0