In [ ]:
# Iván Andrés Trujillo Abela
# ivantrujillo1229@gmail.com

# Laboratory

this laboratory is constructed based upon the Michigan Course...

In [ ]:
textA='Data allow us constract economics hypothesis'

In [ ]:
words  = textA.split() #by default sep = " "

In [ ]:
# Number of characters and number of wors.....

In [ ]:
# Find capitalize letter
[word for word in words if word.istitle() ]

['Data']

In [ ]:
#istitle check if the first character is capatilized and others  not.

In [ ]:
[word for word in words if word.endswith('s')] # Words that finish with 's'

['us', 'economics', 'hypothesis']

In [ ]:
set(['a', 'b', 'b', 'c'])  #unique word or letters

{'a', 'b', 'c'}

In [ ]:
# Rember how we can homogenie
[word.lower() for word in words]

['data', 'allow', 'us', 'constract', 'economics', 'hypothesis']

In [ ]:
[word.upper() for word in words]

['DATA', 'ALLOW', 'US', 'CONSTRACT', 'ECONOMICS', 'HYPOTHESIS']

# Functions
* string.startswith("letter")
* string.endswith("letter)
* substring in string

In [ ]:
'carr' in 'carro'

True

# another are
* string.isupper()
* string.islower()
* string.istitle() # capitalized
* string.isalpha() #check if is alphabets
* string.isdigit() # to check if a digit
* string.splitlines() # split with \n
* string.join()
* string.strip()
* string.rstrip()
* string.find() # the first ocurrence
* string.rfind()  # the last ocurrence
* string.replace("old value", "new value")

In [ ]:
#how works join()?
''.join(['h','e','l','l','o',' ','w','o','r','l','d'])

'hello world'

In [ ]:
# Maybe useful
list('hello')

['h', 'e', 'l', 'l', 'o']

In [ ]:
#strip could be useful
text = '  Ds is a good profession . '

In [ ]:
text.strip() # Preserve the space among words is very important..

'Ds is a good profession .'

## Handling large texts..

How read files line by line?

```python
f = open("file.txt", 'r')
f.readline() # to read the first line
```

In [ ]:
%%writefile file.txt
when the nigth is come
and the land is dark
and the moond
is the only light we see

Writing file.txt

In [ ]:
f = open("file.txt", 'r')
f.readline()

'when the nigth is come \n'

In [ ]:
f.seek(0) # i open previously(as next())
full = f.read()

In [ ]:
full

'when the nigth is come \nand the land is dark \nand the moond \nis the only light we see\n'

In [ ]:
len(full)

86

In [ ]:
full_ = full.splitlines()

In [ ]:
full_

['when the nigth is come ',
 'and the land is dark ',
 'and the moond ',
 'is the only light we see']

# File operations?

```python
f = open("file.txt", mode)
```
for mode could be :

* read ("r")
* write ("w")

and the methods for f,
* f.readline()
* f.read(n) # by default all, but n indicates the number of characters..

In [ ]:
f = open("file.txt", 'r')
d = []
for row in f:
  d.append(row)

In [ ]:
f.seek(0) # The poiter...
d_  = [row.rstrip() for row in f]  # Removing blank characters to the end /n
d_

['when the nigth is come',
 'and the land is dark',
 'and the moond',
 'is the only light we see']

# regex

In [ ]:
# extracting call outs in a tweet using regex
import re
tweet = '@MIT and @Michigan are popular universities'
tweet_ = tweet.split()
[word for word in tweet_ if re.findall('@[a-zA-Z]+', word)] #findall vs

['@MIT', '@Michigan']

In [ ]:
re.findall('@[a-zA-Z]+','@michigan')

['@michigan']

In [ ]:
# Remeber that + is one or more times...
# Remember that . is any character single..

In [ ]:
# find some  vowels...
string  = 'hello world'
re.findall(r'[aeiou]',string)
# Not is vowel
re.findall(r'[^aeiou]',string)

['h', 'l', 'l', ' ', 'w', 'r', 'l', 'd']

In [ ]:
# Regular expressions for date

In [ ]:
dates = [
    '29-12-1994', '06-05-2015',
    'octubr,2015,3', '1995,oct,03'
    '20-12-94'
    ]

In [ ]:
[date for date in dates if re.search('\d{2}[/-]\d{2}[/-]\d{4}',date )]

['29-12-1994', '06-05-2015']

In [ ]:
[date for date in dates if re.search('\d{2}[/-]\d{2}[/-]\d{2,4}',date )]

['29-12-1994', '06-05-2015', '1995,oct,0320-12-94']

In [ ]:
# Make a regular for:
# take care tiwh () scoping.
'12-feb-2012'
'01-jan-2013'

'01-jan-2013'

In [ ]:
dates = [
    "12 oct 189",
    "23 feb 1994"
]

In [ ]:
[re.findall(r'\d{2} (feb|oct|jan|nov|dec) \d{2,4}',date ) for date in dates]

[['oct'], ['feb']]

In [ ]:
# Scoping
dates =  "12 oct 1893, 23 feb 1994"
re.findall('\d{2} (feb|oct|jan|nov|dec) \d{2,4}',dates)
# Notice, that () allow us scoping or extract the part of the math that interested us.

['oct', 'feb']

In [ ]:
re.findall('\d{2} (?:feb|oct|jan|nov|dec) \d{2,4}',dates)
# drop the before behavior

['12 oct 1893', '23 feb 1994']

In [ ]:
dates =  "12 oct 1893, 23 feb 1994, 10 january 1923"

In [ ]:
re.findall('\d{2} (?:feb|oct|jan|nov|dec)[a-z]* \d{2,4}',dates)

['12 oct 1893', '23 feb 1994', '10 january 1923']

# Regex with pandas

In [ ]:
import pandas as pd

In [ ]:
# Capturing Emails?
sentences = [
    "In the senteces could appeaar emails user@gmail.com",
    "Log: Not is valid the mail user1995@yahoo.es",
    "Users_123@gmail.com", 'Dont talk about anything'
]
df = pd.DataFrame(sentences, columns=['var1'])

In [ ]:
df['var1'].str.len()

0    51
1    44
2    19
3    24
Name: var1, dtype: int64

In [ ]:
df['var1'].str.split()

0    [In, the, senteces, could, appeaar, emails, us...
1    [Log:, Not, is, valid, the, mail, user1995@yah...
2                                [Users_123@gmail.com]
3                        [Dont, talk, about, anything]
Name: var1, dtype: object

In [ ]:
df['var1'].str.split().str.len()

0    7
1    7
2    1
3    4
Name: var1, dtype: int64

In [ ]:
df['var1'].str.contains('Log') # if contain the word 'LOG

0    False
1     True
2    False
3    False
Name: var1, dtype: bool

In [ ]:
# The times that appear or a pattern

In [ ]:
df['var1'].str.count(r'\@') # there is not a email in the last message

0    1
1    1
2    1
3    0
Name: var1, dtype: int64

In [ ]:
df = [
  "The avarage wage of economist is higher than another 1.4 times",
  "The 12.2 pounds over mean",
  "is more efficient three(3) times", 'Quantum computational shift x the current power'
]
df  = pd.DataFrame(df, columns =['col'] )
df['col'].str.findall(r"\d*\.?\d+")

0     [1.4]
1    [12.2]
2       [3]
3        []
Name: col, dtype: object

In [ ]:
# We can uses scoping to return groups!!
#User and system update day
texts = ['verify the password user@gmail.com Date: 01/11/2022 ',
         'Error changing the password of user2@yahoo.es 04/12/2021',
         'This password user_bug@hotmail.com is old the new was modified 06/03/2022']
df = pd.DataFrame(texts, columns=['info'])

In [ ]:
df['info'].str.findall(r'(\d{2})(/\d{2}/\d{4})') # Group the day

0    [(01, /11/2022)]
1    [(04, /12/2021)]
2    [(06, /03/2022)]
Name: info, dtype: object

In [ ]:
## We can replace text mails with ???
## Anonimizing
df['info'].str.replace("\w*@\w*\.\w{2,3}","xxx")

<ipython-input-106-8c83db6ec1ab>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['info'].str.replace("\w*@\w*\.\w{2,3}","xxx")

0            verify the password xxx Date: 01/11/2022
1        Error changing the password of xxx 04/12/2021
2    This password xxx is old the new was modified ...
Name: info, dtype: object

In [ ]:
# We can use regex with lambda and group...
df['info'].str.replace(r'(\w*@\w*\.\w{2,3})', lambda x: x.groups()[0][:5]) # replacing in this way could be very useful

<ipython-input-113-446db7e0cd42>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['info'].str.replace(r'(\w*@\w*\.\w{2,3})', lambda x: x.groups()[0][:5]) # replacing in this way could be very useful

0          verify the password user@ Date: 01/11/2022
1      Error changing the password of user2 04/12/2021
2    This password user_ is old the new was modifie...
Name: info, dtype: object

In [ ]:
# we can extract information
# The following method only extract the first group
df['info'].str.extract(r'(\w*@\w*\.\w{2,3})') #this is very important!!!
#if you want extract all uses:
#str.extractall()

                      0
0        user@gmail.com
1        user2@yahoo.es
2  user_bug@hotmail.com

In [ ]:
df['info'].str.extract(r'(?P<emails>\w*@\w*\.\w{2,3})') #this is very important!!!
# we can add a title using ?P<emails>

                 emails
0        user@gmail.com
1        user2@yahoo.es
2  user_bug@hotmail.com