In [ ]:
# Iván Andrés Trujillo Abella
# ivantrujillo1229@gmail.com

In [ ]:
# Information about text
tweet = 'in this this tweet i put my feelings'
len(tweet)

36

In [ ]:
tweet.split(" ") # tokenization

['in', 'this', 'this', 'tweet', 'i', 'put', 'my', 'feelings']

In [ ]:
# Sample:
tweet1 = "i like metallica and nirvana"
tweet2 = "The book of my grand father is a legend"
tweet3 = "the last tweet must be added to courpus"

In [ ]:
# Excersice drop the articles in corpus (All tweets)
# Search the words that have more than two characters!

In [ ]:
# Reserach for what is useful the following string methods...
# 1. istitle
# 2. startswith, endswith
# 3. Write a function to find uniquewords ( what is set())
# 4. isupper, islower

In [ ]:
text = 'In finance log daily return is an example of Taylor series'

In [ ]:
print(text.upper())
print(text.lower())

IN FINANCE LOG DAILY RETURN IS AN EXAMPLE OF TAYLOR SERIES
in finance log daily return is an example of taylor series

In [ ]:
# Work the in operator in strings?
word1 = 'sword'
word2 = 'word'
word2 in word1

True

In [ ]:
'hello'.islower()
'Hello'.isupper()
'TRUE'.isupper()

True

In [ ]:
# testing #.isalpha(), isdigit(), isalnum()

In [ ]:
# There are another methods that could be very powerful
# checking characteristics
sample1  = "1"
sample2 = "One"
sample3 = "10"
sample4 = "1o"
sample5 = "14"
sample6 = "Uno(1)"
sample7 = "108.43"
sample8 = "89.13"

In [ ]:
print(sample5.isdigit())
print(sample5.isalpha())
print(sample5.isalnum())

True
False
True

In [ ]:
def isfloat(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [ ]:
isfloat(sample8)

True

In [ ]:
# recap
# isdigit ->[0-9]
# alpha -> [a-zA-Z] (alphabets)
# alnum -> [0-9A-Za-z] alphanumeric

In [ ]:
print("-".join(['one', 'sentence', 'on', 'a', 'line']))
print("/".join(['12', '07', '1995'])) # great job!

one-sentence-on-a-line
12/07/1995

In [ ]:
sample1 = ' Hello world ' # have a blank space to start and end
sample1.strip()

'Hello world'

In [ ]:
sample1.rstrip() # only remove at the end..

' Hello world'

In [ ]:
'Microeconomics'.replace("i",'a', 1)

'Macroeconomics'

In [ ]:
# Introduction to regex..
import re
string = "This is a course about data analysis"
re.findall("is", string)

['is', 'is', 'is']

# identifiers:
  * \d any number [0-9]
  * \D not number [^0-9]
  * \s  blank space [\t\n\r\f\v]
  * \S no blank space  [^\t\n\r\f\v]
  * \w Alphanumeric character [a-zA-Z0-9_]
  * \W Non-Alphanumeric [^a-zA-Z0-9_]
  * . any character except new line

# modifiers
  * \+ match one or more
  * ? match 0 or 1 repetition (optional)
  * \* 0 or more
  * $ to the end of the string
  * ^ begining the string
  * | or a | b (a or b)
  * [] a admited set or range [a-z]
  * [^ ] not admitet set not numbers [^0-9]
  * {n} exactly n repetitions
  * {n,} at least n repetiions
  * {,n} at most n repetitions
  * {n,m} between n and m repetetions
  * \* equal to 0 o more repetitions {0,}
  * \+ equal  to 1 o more times {1,}
  * ? is the optional {0,1}


research what is r"string" for what is?
\ scape sequence  with r is override.

In [ ]:
string = 'data is the key'
re.findall("\w", string) # For instance add a + here after 7

['d', 'a', 't', 'a', 'i', 's', 't', 'h', 'e', 'k', 'e', 'y']

In [ ]:
data = {'var':['!letras', ['pr0nblemas'], ['  ef,r,u!~'], ['@$&123´{}']]}
import pandas as pd
data = pd.DataFrame(data)
symbools = []
for index in data.index:
  for sym in re.findall("[^a-z0-9!]",str(data.loc[index,'var'])):
    if sym not in symbools:
      symbools.append(sym)
symbools # no alphanumeric chars...

['[', "'", ']', ' ', ',', '~', '@', '$', '&', '´', '{', '}']

In [ ]:
vector = ['½{(123', '&1,37ALó', 't3rmunal', 'part|1do13', 'unnombrebienescrito', 'juan', 'maría']
data

            var
0       !letras
1  [pr0nblemas]
2  [  ef,r,u!~]
3   [@$&123´{}]

In [ ]:
candidatos= []
for index in data.index:
  if len(re.findall("[^a-z!0-9\[\]]", str(data.loc[index,'var'])))==0:
    candidatos.append(index)
data.loc[candidatos]

       var
0  !letras

In [ ]:
torax = ['5.5Diabeste', '5.3diabetes', '1.2diabetes', ',1,4diabetes']