<a href="https://colab.research.google.com/github/it-ces/PUBLIC-AI/blob/main/Probability/Simlab/TRM_Ci_mean(ai_page).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy.stats import norm
from scipy.stats import t

In [ ]:
URL = "https://raw.githubusercontent.com/it-ces/Datasets/main/TMR.csv"
df  = pd.read_csv(URL, decimal=',')

In [ ]:
# Analizing  2023
df = df[df['AÃ±o']==2023]

In [ ]:
df['TRM'].describe()

count     365.000000
mean     4325.050137
std       319.663752
min      3822.050000
25%      4053.760000
50%      4193.590000
75%      4627.270000
max      4989.580000
Name: TRM, dtype: float64

In [ ]:
df['Mes'].value_counts()

Diciembre     31
Octubre       31
Agosto        31
Julio         31
Mayo          31
Marzo         31
Enero         31
Noviembre     30
Septiembre    30
Junio         30
Abril         30
Febrero       28
Name: Mes, dtype: int64

In [ ]:
n = df['TRM'].shape[0]
mean = df['TRM'].mean()
std = df['TRM'].std(ddof=1)
error = std/n**0.5
alpha = 0.05
z = norm.ppf(1 - (alpha/2))
lower = mean - z*error
upper = mean + z*error
print(lower,upper)

4292.2560872375 4357.844186735103

In [ ]:
import numpy as np
#define sample data
#create 95% confidence interval for population mean weight
norm.interval(confidence=0.95, loc=mean, scale=std/n**0.5)

(4292.2560872375, 4357.844186735103)

In [ ]:
# 28 days...
df  = df[df['Mes'] =='Febrero']
n = df['TRM'].shape[0]
mean  = df['TRM'].mean()
std = df['TRM'].std(ddof=1)
error = std/n**0.5

In [ ]:
alpha = 0.05
td = t.ppf(q=  1 - (alpha/2), df=n-1)
lower = mean -  td*error
upper = mean + td*error
print(lower,upper)

4762.762633568718 4843.462366431282

In [ ]:
# Febrero
t.interval(confidence=0.95, df=n-1, loc=mean, scale=std/n**0.5)

(4762.762633568718, 4843.462366431282)