In [ ]:
data = [11,103,22,34,985,11,123,44,123,999]
iter = len(data)
while iter >0:
  for i in range(0,iter-1):
    if data[i]> data[i+1]:
      data[i+1], data[i] = data[i], data[i+1]
  iter = iter -1
print(data)

data = [11,103,22,34,985,11,123,44,123,999]

iter = len(data)
for i in range(0,iter-1):
  for i in range(0,iter-1):
    if data[i]> data[i+1]:
      data[i+1], data[i] = data[i], data[i+1]
print(data)

[11, 11, 22, 34, 44, 103, 123, 123, 985, 999]
[11, 11, 22, 34, 44, 103, 123, 123, 985, 999]