In [1]:
## Iván Andrés Trujillo Abella
## ivantrujillo1229@gmail.com

In [2]:
%%writefile base1.csv
var1, var2, var3, var4
10,20,30, True
11,21,31
101,,201

Writing base1.csv

In [3]:
%%writefile base2.csv
var2, var3, var4, var5
100, 101, 104,
two, three, one

Writing base2.csv

In [4]:
%%writefile base3.csv
var4, var5, var6
True, False, True
True, True, True

Writing base3.csv

In [5]:
import pandas as pd
dfs = {}
for i in range(1,4):
  dfs['df'+str(i)] = pd.read_csv("base"+str(i)+'.csv')

In [6]:
dfs

{'df1':    var1   var2   var3   var4
 0    10   20.0     30   True
 1    11   21.0     31    NaN
 2   101    NaN    201    NaN,
 'df2':   var2    var3  var4   var5
 0  100     101   104    NaN
 1  two   three   one    NaN,
 'df3':    var4    var5   var6
 0  True   False   True
 1  True    True   True}

In [7]:
X = ['var1', 'var2', 'var4']

In [8]:
not_in = []
for var in X:
  if var not in dfs['df1'].columns:
    not_in.append(var)

In [9]:
 X # dont work? you standardize the columns names?

['var1', 'var2', 'var4']

In [10]:
dfs['df1'].columns  = [col.replace(" ","") for col in dfs['df1'].columns]

In [11]:
dfs['df1'].columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [12]:
## You can make a loop to standardize the columns names
for df in dfs:
  dfs[df].columns = [var.replace(" ","") for var in dfs[df].columns]

In [13]:
def check_vars(vars_to_check, df):
  not_in = []
  for var in vars_to_check:
    if var not in df.columns:
      not_in.append(var)
  return not_in

In [14]:
dfs['df1']

   var1  var2  var3   var4
0    10  20.0    30   True
1    11  21.0    31    NaN
2   101   NaN   201    NaN

In [15]:
check_vars(['var4', 'var6'], dfs['df1'])

['var6']

In [17]:
for df in dfs:
  print(check_vars(['var4','var6'], dfs[df]))

['var6']
['var6']
[]