In [9]:
import numpy as np
import pandas as pd
df  =pd.DataFrame(
    {'var1': [np.nan, 1, 2, 3],
    'var2': [np.nan, np.nan,3,4],
    'var3': [np.nan, 2, 3, np.nan]})

In [10]:
df.mean(axis=1, skipna=True)

0         NaN
1    1.500000
2    2.666667
3    3.500000
dtype: float64

In [11]:
df.mean(axis=1, skipna=False)

0         NaN
1         NaN
2    2.666667
3         NaN
dtype: float64

In [12]:
print((3+4)/2)

3.5

In [13]:
df.sum(axis=1)

0    0.0
1    3.0
2    8.0
3    7.0
dtype: float64

In [14]:
df.sum(axis=1, min_count=1)

0    NaN
1    3.0
2    8.0
3    7.0
dtype: float64