<a href="https://colab.research.google.com/github/it-ces/PUBLIC-AI/blob/main/short-labs-pandas/freq_problems_pandas(BIT).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data  = {'var1':['10','10.4', '10.8', '23.5', '12.3 ', '7.8'],
         'var2':['12mm', '13metros', '44centi', '56milig', '23', 'MM 4'],
         'var3':['110j', '112r', '221j', '213l', '445j', '444j']
         }
df=pd.DataFrame(data)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df.dtypes

var1    object
var2    object
var3    object
dtype: object

In [ ]:
df['var1'] = df['var1'].astype('float')

In [ ]:
df['var2'].replace(r"[a-z]", "", regex=True)

0      12
1      13
2      44
3      56
4      23
5    MM 4
Name: var2, dtype: object

In [ ]:
df['var3'].replace(r"[0-9]", "", regex=True).value_counts()

j    4
r    1
l    1
Name: var3, dtype: int64

In [ ]:
df['var1'].mean()

12.466666666666667

In [ ]:
df['var1'].mean()

12.466666666666667

In [ ]:
dates = ['20-01-1994', 'diciembre/1913/2', '23/12/1993',
         '02-04-2020', 'oct-1998-01']

In [ ]:
df = pd.DataFrame(dates, columns=['dates'])

In [ ]:
df['dates'].replace("\d{2}[-\/]\d{2}[-\/]\d{4}",np.nan, regex=True)

0                 NaN
1    diciembre/1913/2
2                 NaN
3                 NaN
4         oct-1998-01
Name: dates, dtype: object

In [ ]:
df['dates'].str.findall("\d{2}[-\/]\d{2}[-\/]\d{4}")

0    [20-01-1994]
1              []
2    [23/12/1993]
3    [02-04-2020]
4              []
Name: dates, dtype: object

In [ ]:
df['dates'].str.extract("(\d{2}[-\/]\d{2}[-\/]\d{4})")

            0
0  20-01-1994
1         NaN
2  23/12/1993
3  02-04-2020
4         NaN

In [ ]:
def isnum(string):
  """
  Return a  boolean if the string is a integer or a float (only one decimal point)
  """
  return bool(re.match(r"^\d+(\.\d+)?$", string))

def binary(string):
  return bool(re.match(r"^[0-1]+(\.0+)?$", string))

In [ ]:
def num_percent(df, col):
  """
  determina el procej de datos no nulos del total de datos que son númericos
  """
  return df[col].apply(lambda x: isnum(str(x))).sum() / df[col].apply(lambda x: pd.notna(x)).sum()

def is_binary(df,col):
  return df[col].apply(lambda x: binary(str(x))).sum() / df[col].apply(lambda x: pd.notna(x)).sum()