In [ ]:
# Iván Andrés Trujillo Abella
# ivantrujillo1229@gmail.com

In [ ]:
!pip install thefuzz

Requirement already satisfied: thefuzz in /usr/local/lib/python3.10/dist-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from thefuzz) (3.9.7)

In [ ]:
import pandas as pd
import numpy as np
from thefuzz import fuzz
import re

In [ ]:
def clean_text(text):
  text = text.strip().upper().replace(" ","")
  text = text.replace('Á','A')
  text = text.replace('É', 'E')
  text = text.replace('Í', 'I')
  text = text.replace('Ó', 'O')
  text = text.replace('Ú','U')
  return text

def drop_col(df_, threshold):
  df  = df_.copy()
  to_drop = []
  for col in df.columns:
    if (df[col].isnull().sum()/df.shape[0]) >= threshold:
      to_drop.append(col)
  return to_drop


def fix_cols(columns_name):
  new = []
  capture_year = ''
  for token in columns_name:
    if bool(len((re.findall('\d{4}', token)))):
      capture_year = ''.join(re.findall('\d{4}', token))
    new.append(str(capture_year) +  str(token) )
  return new

def capturing(string):
  if bool(re.search(r"(^\d{4}).+(Dólares|Pesos).+(FOB|CIF)", string)):
    result = re.search(r"(^\d{4}).+(Dólares|Pesos).+(FOB|CIF)", string)
    return '-'.join(result.groups())
  else:
    return string


def fuzzy_match(target, sample):
  book = {}
  book[target] = {}
  for element in sample:
    if fuzz.ratio(target, element) > 50 and len("".join(set(element) & set(target)))/len(min(element, target)) > 0.43:
      book[target][element] =  fuzz.ratio(target, element)
  array = sorted(book[target].items(), key=lambda item: int(item[1]), reverse=True)
  if len(array)>= 1:
    return sorted(book[target].items(), key=lambda item: int(item[1]), reverse=True)[0][0]
  else:
    return 'unknown'

In [ ]:
url_names = 'https://raw.githubusercontent.com/it-ces/Datasets/main/world.csv'
names = pd.read_csv(url_names)
names.drop(index=names[names['es'].duplicated(keep='first')].index,inplace=True)
names['en'] = names['en'].apply(lambda x : clean_text(str(x)))
names['es'] = names['es'].apply(lambda x : clean_text(str(x)))
book = names[['en', 'es']].set_index('es').to_dict()['en']

In [ ]:
url_loc = 'https://raw.githubusercontent.com/it-ces/Datasets/main/Countries-location(google).csv'
url_imp = 'https://raw.githubusercontent.com/it-ces/Datasets/main/dane-importaciones.csv'
url_exp = 'https://raw.githubusercontent.com/it-ces/Datasets/main/dane-exportaciones.csv'
url_pib = 'https://raw.githubusercontent.com/it-ces/Datasets/main/wbdata-gdp-lifeExp-time-series.csv'

In [ ]:
info = {}
info['location']  = pd.read_csv(url_loc)
info['import'] = pd.read_csv(url_imp, header=[0,1])
info['export']  = pd.read_csv(url_exp, header=[0,1])
info['gdp'] = pd.read_csv(url_pib)
#info['url_names'] = pd.read_csv(url_names)

In [ ]:
info['import'].drop(index=info['import'][info['import']['País']['Unnamed: 1_level_1'].duplicated(keep=False)].index, inplace=True)

In [ ]:
info['export'][info['export']['País']['Unnamed: 1_level_1'].duplicated(keep=False)]

Empty DataFrame
Columns: [(Código, Unnamed: 0_level_1), (País, Unnamed: 1_level_1), (1970, Kilos Netos), (Unnamed: 3_level_0, Dólares FOB), (Unnamed: 4_level_0, Pesos FOB), (Unnamed: 5_level_0, Unnamed: 5_level_1), (1971, Kilos Netos), (Unnamed: 7_level_0, Dólares FOB), (Unnamed: 8_level_0, Pesos FOB), (Unnamed: 9_level_0, Unnamed: 9_level_1), (1972, Kilos Netos), (Unnamed: 11_level_0, Dólares FOB), (Unnamed: 12_level_0, Pesos FOB), (Unnamed: 13_level_0, Unnamed: 13_level_1), (1973, Kilos Netos), (Unnamed: 15_level_0, Dólares FOB), (Unnamed: 16_level_0, Pesos FOB), (Unnamed: 17_level_0, Unnamed: 17_level_1), (1974, Kilos Netos), (Unnamed: 19_level_0, Dólares FOB), (Unnamed: 20_level_0, Pesos FOB), (Unnamed: 21_level_0, Unnamed: 21_level_1), (1975, Kilos Netos), (Unnamed: 23_level_0, Dólares FOB), (Unnamed: 24_level_0, Pesos FOB), (Unnamed: 25_level_0, Unnamed: 25_level_1), (1976, Kilos Netos), (Unnamed: 27_level_0, Dólares FOB), (Unnamed: 28_level_0, Pesos FOB), (Unnamed: 29_level_0, Unnamed: 29_level_1), (1977, Kilos Netos), (Unnamed: 31_level_0, Dólares FOB), (Unnamed: 32_level_0, Pesos FOB), (Unnamed: 33_level_0, Unnamed: 33_level_1), (1978, Kilos Netos), (Unnamed: 35_level_0, Dólares FOB), (Unnamed: 36_level_0, Pesos FOB), (Unnamed: 37_level_0, Unnamed: 37_level_1), (1979, Kilos Netos), (Unnamed: 39_level_0, Dólares FOB), (Unnamed: 40_level_0, Pesos FOB), (Unnamed: 41_level_0, Unnamed: 41_level_1), (1980, Kilos Netos), (Unnamed: 43_level_0, Dólares FOB), (Unnamed: 44_level_0, Pesos FOB), (Unnamed: 45_level_0, Unnamed: 45_level_1), (1981, Kilos Netos), (Unnamed: 47_level_0, Dólares FOB), (Unnamed: 48_level_0, Pesos FOB), (Unnamed: 49_level_0, Unnamed: 49_level_1), (1982, Kilos Netos), (Unnamed: 51_level_0, Dólares FOB), (Unnamed: 52_level_0, Pesos FOB), (Unnamed: 53_level_0, Unnamed: 53_level_1), (1983, Kilos Netos), (Unnamed: 55_level_0, Dólares FOB), (Unnamed: 56_level_0, Pesos FOB), (Unnamed: 57_level_0, Unnamed: 57_level_1), (1984, Kilos Netos), (Unnamed: 59_level_0, Dólares FOB), (Unnamed: 60_level_0, Pesos FOB), (Unnamed: 61_level_0, Unnamed: 61_level_1), (1985, Kilos Netos), (Unnamed: 63_level_0, Dólares FOB), (Unnamed: 64_level_0, Pesos FOB), (Unnamed: 65_level_0, Unnamed: 65_level_1), (1986, Kilos Netos), (Unnamed: 67_level_0, Dólares FOB), (Unnamed: 68_level_0, Pesos FOB), (Unnamed: 69_level_0, Unnamed: 69_level_1), (1987, Kilos Netos), (Unnamed: 71_level_0, Dólares FOB), (Unnamed: 72_level_0, Pesos FOB), (Unnamed: 73_level_0, Unnamed: 73_level_1), (1988, Kilos Netos), (Unnamed: 75_level_0, Dólares FOB), (Unnamed: 76_level_0, Pesos FOB), (Unnamed: 77_level_0, Unnamed: 77_level_1), (1989, Kilos Netos), (Unnamed: 79_level_0, Dólares FOB), (Unnamed: 80_level_0, Pesos FOB), (Unnamed: 81_level_0, Unnamed: 81_level_1), (1990, Kilos Netos), (Unnamed: 83_level_0, Dólares FOB), (Unnamed: 84_level_0, Pesos FOB), (Unnamed: 85_level_0, Unnamed: 85_level_1), (1991, Kilos Netos), (Unnamed: 87_level_0, Dólares FOB), (Unnamed: 88_level_0, Pesos FOB), (Unnamed: 89_level_0, Unnamed: 89_level_1), (1992, Kilos Netos), (Unnamed: 91_level_0, Dólares FOB), (Unnamed: 92_level_0, Pesos FOB), (Unnamed: 93_level_0, Unnamed: 93_level_1), (1993, Kilos Netos), (Unnamed: 95_level_0, Dólares FOB), (Unnamed: 96_level_0, Pesos FOB), (Unnamed: 97_level_0, Unnamed: 97_level_1), (1994, Kilos Netos), (Unnamed: 99_level_0, Dólares FOB), ...]
Index: []

[0 rows x 220 columns]

In [ ]:
info['export'].drop(columns= drop_col(info['export'], 0.95), inplace=True)
info['export'].columns = [col[0] + re.sub(r'Unnamed:.+', '',col[1]) for col in info['export'].columns]
info['export'].columns = fix_cols(info['export'].columns)
info['export'].columns = [capturing(name) for name in  info['export'].columns]
features_ = list(info['export'].columns[0:2]) + [ col for col in info['export'].columns if bool(len(re.findall(r'FOB',col)))]
info['export'] = info['export'][features_]

In [ ]:
info['import'].drop(columns= drop_col(info['import'], 0.99), inplace=True)
info['import'].columns = [col[0] + re.sub(r'Unnamed:.+','',col[1]) for col in info['import'].columns]
info['import'].columns = fix_cols(info['import'].columns)
info['import'].columns = [capturing(name) for name in  info['import'].columns]
# capture FOBS
features_ = list(info['import'].columns[0:2]) + [ col for col in info['import'].columns if bool(len(re.findall(r'FOB',col)))]
info['import'] = info['import'][features_]

In [ ]:
keys = {}
keys['location']  = 'name'
keys['import'] = 'País'
keys['export'] = 'País'
keys['gdp']  =  'value'

In [ ]:
for base in info:
  print(base)
  info[base].rename(columns={keys[base]:'id_key'}, inplace=True)
  info[base]['id_key'] = info[base]['id_key'].apply(lambda x : clean_text(str(x)))
  info[base]['id_key'] = info[base]['id_key'].replace(book)

location
import
export
gdp

In [ ]:
all = []
for base in info:
  all = all + list(info[base]['id_key'].unique())
print(len(all))
print(len(set(all)))

gdpset = set(info['gdp']['id_key'].unique())
A = set(info['import']['id_key'].unique())
B = set(info['export']['id_key'].unique())
intersect = (A & B & gdpset)

to_keep = {}
for elemento in A - intersect:
  if fuzzy_match(elemento, gdpset-intersect) != 'unknown':
    if fuzzy_match(elemento, gdpset-intersect) not in to_keep.values():
      to_keep[elemento] =  fuzzy_match(elemento, gdpset-intersect)

1243
486

In [ ]:
to_keep

{'CONGO,REPUBLICADEMOCRATICADEL': 'CONGO,DEM.REP.',
 'SIRIA,REPUBLICAARABE': 'SYRIANARABREPUBLIC',
 'BOUVET,ISLA': 'FAROEISLANDS',
 "CÔTED'IVOIRE": "COTED'IVOIRE",
 'UNITEDSTATESOFAMERICA': 'UNITEDSTATES',
 'SLOVAKIA': 'SLOVAKREPUBLIC',
 'VENEZUELA,BOLIVARIANREPUBLICOF': 'CENTRALAFRICANREPUBLIC',
 'HEARDYMCDONALD,ISLAS': 'CAYMANISLANDS',
 'MACEDONIA': 'NORTHMACEDONIA',
 'MARIANASDELNORTE,ISLAS': 'NORTHERNMARIANAISLANDS',
 'NUEVAZELANDIA': 'NEWZEALAND',
 'ANTILLASHOLANDESAS': 'CHANNELISLANDS',
 'EGYPT': 'EGYPT,ARABREP.',
 'BAHREIN': 'BAHRAIN',
 'YEMEN': 'YEMEN,REP.',
 'TIMORDELESTE': 'TIMOR-LESTE',
 'ZFPSURCOLOMBIANA': 'SOLOMONISLANDS',
 'SANMARTIN(PARTEHOLANDESA)': 'ST.MARTIN(FRENCHPART)',
 'SAINTLUCIA': 'ST.LUCIA',
 'RUSIA,FEDERACIONDE': 'RUSSIANFEDERATION',
 'HONGKONG': 'HONGKONGSAR,CHINA',
 'GAMBIA': 'GAMBIA,THE',
 'IRAN,REPUBLICAISLAMICADE': 'IRAN,ISLAMICREP.',
 'KAZAJSTAN': 'KAZAKHSTAN',
 'TURCASYCAICOS,ISLAS': 'TURKSANDCAICOSISLANDS',
 'BELARUSIA': 'BELARUS',
 'TANZANIA,REPUBLICAUNIDADE': 'TANZANIA,UNITEDREPUBLICOF',
 'MACAO': 'MACAOSAR,CHINA',
 'CONGO': 'CONGO,REP.',
 'MARSHALL,ISLAS': 'MARSHALLISLANDS',
 'COREA': 'KOREA,REP.',
 'SAINTKITTSANDNEVIS': 'ST.KITTSANDNEVIS',
 'BAHAMAS': 'BAHAMAS,THE',
 'MARTINIQUE': 'ESWATINI',
 'TÜRKIYE': 'TURKIYE',
 'MICRONESIA,ESTADOSFEDERADOSDE': 'MICRONESIA,FED.STS.',
 'CURAZAO,ISLA': 'CURACAO'}

In [ ]:
banned = ['ZFPESANVICENTEDEPAUL', 'ESCOCIA',
 'SWAZILANDIA',
'BOUVET,ISLA',
 'SVALBARDYJANMAYEN,ISLAS',
 'VENEZUELA,BOLIVARIANREPUBLICOF',
 'ANTILLASHOLANDESAS',
 'COOK,ISLAS',
 'SAHARAOCCIDENTAL',
 'MAN,ISLA',
 'MARTINIQUE',
 'CEILAN',
 'ANGLONORMANDAS,ISLAS',
  'MOLDAVIA,REPUBLICADE',
 'ALAND,ISLAS',
 'TOKELAU',
 'ZFPEPROTISA',
 'ZFPEAGROSOLERA',
 'ZFPSURCOLOMBIANA',
 'ALEMANIA,REPUBLICADEMOCRATICA',
 'MIDWAY,ISLAS',
  'SANMARTIN(PARTEHOLANDESA)',
 'HEARDYMCDONALD,ISLAS',
 'BONAIRE,ISLA',
 'NORFOLK,ISLAS', ]

new = {}
for unity in to_keep:
  if unity not in  banned:
    new[unity] = to_keep[unity]

In [ ]:
new

{'CONGO,REPUBLICADEMOCRATICADEL': 'CONGO,DEM.REP.',
 'SIRIA,REPUBLICAARABE': 'SYRIANARABREPUBLIC',
 "CÔTED'IVOIRE": "COTED'IVOIRE",
 'UNITEDSTATESOFAMERICA': 'UNITEDSTATES',
 'SLOVAKIA': 'SLOVAKREPUBLIC',
 'MACEDONIA': 'NORTHMACEDONIA',
 'MARIANASDELNORTE,ISLAS': 'NORTHERNMARIANAISLANDS',
 'NUEVAZELANDIA': 'NEWZEALAND',
 'EGYPT': 'EGYPT,ARABREP.',
 'BAHREIN': 'BAHRAIN',
 'YEMEN': 'YEMEN,REP.',
 'TIMORDELESTE': 'TIMOR-LESTE',
 'SAINTLUCIA': 'ST.LUCIA',
 'RUSIA,FEDERACIONDE': 'RUSSIANFEDERATION',
 'HONGKONG': 'HONGKONGSAR,CHINA',
 'GAMBIA': 'GAMBIA,THE',
 'IRAN,REPUBLICAISLAMICADE': 'IRAN,ISLAMICREP.',
 'KAZAJSTAN': 'KAZAKHSTAN',
 'TURCASYCAICOS,ISLAS': 'TURKSANDCAICOSISLANDS',
 'BELARUSIA': 'BELARUS',
 'TANZANIA,REPUBLICAUNIDADE': 'TANZANIA,UNITEDREPUBLICOF',
 'MACAO': 'MACAOSAR,CHINA',
 'CONGO': 'CONGO,REP.',
 'MARSHALL,ISLAS': 'MARSHALLISLANDS',
 'COREA': 'KOREA,REP.',
 'SAINTKITTSANDNEVIS': 'ST.KITTSANDNEVIS',
 'BAHAMAS': 'BAHAMAS,THE',
 'TÜRKIYE': 'TURKIYE',
 'MICRONESIA,ESTADOSFEDERADOSDE': 'MICRONESIA,FED.STS.',
 'CURAZAO,ISLA': 'CURACAO'}

In [ ]:
for base in info:
  info[base]['id_key'] = info[base]['id_key'].replace(new)

In [ ]:
len(gdpset & set(info['import']['id_key'].unique()) & set(info['export']['id_key'].unique()))

197

In [ ]:
info['gdp_wide'] = info['gdp'].set_index(['id_key', 'year']).unstack(level=-1)

In [ ]:
info['gdp_wide'].columns = [col[0] + str(col[1]) for col in info['gdp_wide'].columns]

In [ ]:
info['gdp_wide'].reset_index(inplace=True)

In [ ]:
# Fixing id_key's
book = {'COREA,REPUBLICADEMOCRATICA':"KOREA,DEM.PEOPLE'SREP.",
        'UNITEDKINGDOMOFGREATBRITAINANDNORTHERNIRELAND':'UNITEDKINGDOM',
        'VENEZUELA,BOLIVARIANREPUBLICOF':'VENEZUELA,RB',
        'VIRGENES(BRITANICAS),ISLAS':'BRITISHVIRGINISLANDS',
        'VIRGENES(DELOSESTADOSUNIDOS),ISLAS':'VIRGINISLANDS(U.S.)',
        'SAINTVINCENTANDTHEGRENADINES':'ST.VINCENTANDTHEGRENADINES',
        'SWAZILANDIA':'ESWATINI',
        'MAN,ISLA':'ISLEOFMAN',
        'LAOS,REPUBLICAPOPULARDEMOCRATICA':'LAOPDR',
        'CAIMAN,ISLAS':'CAYMANISLANDS',
        'CENTROAFRICANA,REPUBLICA':'CENTRALAFRICANREPUBLIC',
        'MARIANASDELNORTE,ISLAS':'NORTHERNMARIANAISLANDS',
        'SLOVAKIA':'SLOVAKREPUBLIC',
        'SANMARTIN(PARTEHOLANDESA)':'SINTMAARTEN(DUTCHPART)'}

info['export'].replace(book, inplace=True)
info['import'].replace(book, inplace=True)

In [ ]:
full =info['gdp_wide'].merge(info['export'],
                       on='id_key',)

In [ ]:
full = full.merge(info['import'], on='id_key')

In [ ]:
def format_coordinate(coor):
  coor = re.sub(r"\.", "_" ,coor, count=1)
  coor = re.sub(r"\.", "", coor)
  coor = re.sub(r'_', '.', coor)
  return float(coor)

In [ ]:
info['location']['latitude'] = info['location']['latitude'].apply(lambda x: format_coordinate(str(x)))
info['location']['longitude'] = info['location']['longitude'].apply(lambda x: format_coordinate(str(x)))

In [ ]:
def distance(longitudei, latitudei, longitudej, latitudej):
  return ((longitudei - longitudej)**2 + (latitudei - latitudej)**2)**0.5

In [ ]:
col_latitude = 4.570868
col_longitude =  -74.297333

In [ ]:
distance(col_longitude, col_latitude, col_longitude, col_latitude)

0.0

In [ ]:
info['location']['distance'] = info['location'].apply(lambda col:  distance(col_longitude, col_latitude,  col['longitude'], col['latitude']), axis=1)

In [ ]:
book = {'COREA,REPUBLICADEMOCRATICA':"KOREA,DEM.PEOPLE'SREP.",
        'UNITEDKINGDOMOFGREATBRITAINANDNORTHERNIRELAND':'UNITEDKINGDOM',
        'VENEZUELA,BOLIVARIANREPUBLICOF':'VENEZUELA,RB',
        'VIRGENES(BRITANICAS),ISLAS':'BRITISHVIRGINISLANDS',
        'VIRGENES(DELOSESTADOSUNIDOS),ISLAS':'VIRGINISLANDS(U.S.)',
        'SAINTVINCENTANDTHEGRENADINES':'ST.VINCENTANDTHEGRENADINES',
        'SWAZILANDIA':'ESWATINI',
        'MAN,ISLA':'ISLEOFMAN',
        'LAOS,REPUBLICAPOPULARDEMOCRATICA':'LAOPDR',
        'CAIMAN,ISLAS':'CAYMANISLANDS',
        'CENTROAFRICANA,REPUBLICA':'CENTRALAFRICANREPUBLIC',
        'MARIANASDELNORTE,ISLAS':'NORTHERNMARIANAISLANDS',
        'SLOVAKIA':'SLOVAKREPUBLIC',
        'SANMARTIN(PARTEHOLANDESA)':'SINTMAARTEN(DUTCHPART)'}

In [ ]:
info['location'].replace(book, inplace=True)

In [ ]:
full =full.merge(info['location'], on='id_key', how = 'outer', indicator=True)

In [ ]:
full[full['_merge']=='left_only']['id_key'].unique()

array(['CABOVERDE', 'CONGO,DEM.REP.', 'CONGO,REP.', 'CURACAO', 'CZECHIA',
       'ESWATINI', 'IRAN,ISLAMICREP.', "KOREA,DEM.PEOPLE'SREP.",
       'KOREA,REP.', 'LAOPDR', 'MACAOSAR,CHINA', 'MICRONESIA,FED.STS.',
       'MYANMAR', 'NORTHMACEDONIA', 'RUSSIANFEDERATION',
       'SAOTOMEANDPRINCIPE', 'SINTMAARTEN(DUTCHPART)', 'SOUTHSUDAN',
       'SYRIANARABREPUBLIC', 'TURKIYE', 'VIRGINISLANDS(U.S.)'],
      dtype=object)

In [ ]:
full[full['_merge']=='right_only']['id_key'].unique()

array(['ANGUILLA', 'NETHERLANDSANTILLES', 'ANTARCTICA', 'BOUVETISLAND',
       'COCOS[KEELING]ISLANDS', 'CONGO[DRC]', 'CONGO[REPUBLIC]',
       'COOKISLANDS', 'CAPEVERDE', 'CHRISTMASISLAND', 'CZECHREPUBLIC',
       'WESTERNSAHARA', 'FALKLANDISLANDS[ISLASMALVINAS]',
       'MICRONESIA,FEDERATEDSTATESOF', 'FAROEISLANDS', 'FRENCHGUIANA',
       'GUERNSEY', 'GUADELOUPE', 'SOUTHGEORGIAANDTHESOUTHSANDWICHISLANDS',
       'GAZASTRIP', 'HEARDISLANDANDMCDONALDISLANDS',
       'BRITISHINDIANOCEANTERRITORY', 'IRAN,ISLAMICREPUBLICOF', 'JERSEY',
       'KYRGYZSTAN', 'NORTHKOREA', 'SOUTHKOREA',
       "LAOPEOPLE'SDEMOCRATICREPUBLIC", 'MOLDOVA', 'MACEDONIA[FYROM]',
       'MYANMAR[BURMA]', 'MACAU', 'MARTINIQUE', 'MONTSERRAT',
       'NORFOLKISLAND', 'NIUE', 'SAINTPIERREANDMIQUELON',
       'PITCAIRNISLANDS', 'PALESTINIANTERRITORIES', 'REUNION', 'RUSSIA',
       'SOLOMONISLANDS', 'SAINTHELENA', 'SVALBARDANDJANMAYEN',
       'SÃOTOMEANDPRINCIPE', 'SYRIA', 'SWAZILAND',
       'FRENCHSOUTHERNTERRITORIES', 'TOKELAU', 'TURKEY', 'TAIWAN',
       'U.S.MINOROUTLYINGISLANDS', 'VATICANCITY', 'U.S.VIRGINISLANDS',
       'WALLISANDFUTUNA', 'KOSOVO', 'MAYOTTE'], dtype=object)

In [ ]:
full['_merge'].value_counts()

_merge
both          188
right_only     57
left_only      21
Name: count, dtype: int64

In [ ]:
full.columns

Index(['id_key', 'incomeLevel1960', 'incomeLevel1961', 'incomeLevel1962',
       'incomeLevel1963', 'incomeLevel1964', 'incomeLevel1965',
       'incomeLevel1966', 'incomeLevel1967', 'incomeLevel1968',
       ...
       '2020-Dólares-FOB_y', '2021-Dólares-FOB_y', '2022-Dólares-FOB_y',
       '2023-Dólares-FOB_y', '2024-Dólares-FOB_y', 'country', 'latitude',
       'longitude', 'distance', '_merge'],
      dtype='object', length=391)

In [ ]:
test = full[['id_key', '2020-Dólares-FOB_y', '2020-Dólares-FOB_x', 'Gdp2020', 'distance']]

In [ ]:
test.isnull().sum()

id_key                 0
2020-Dólares-FOB_y    57
2020-Dólares-FOB_x    57
Gdp2020               77
distance              22
dtype: int64