In [ ]:
#Iván Andrés Trujillo Abella
#ivantrujillo1229@gmail.com

In [ ]:
import pandas as pd
df = pd.read_excel("basepibs.xlsx", sheet_name="Cuadro 2", usecols='A:S', skiprows=9, skipfooter=4)

In [ ]:
df[2005].sum()

1032691.3483158948

In [ ]:
ls

basepibs.xlsx  sample_data/

In [ ]:
df.columns

Index(['Código Departamento (DIVIPOLA)',                  'DEPARTAMENTOS',
                                   2005,                             2006,
                                   2007,                             2008,
                                   2009,                             2010,
                                   2011,                             2012,
                                   2013,                             2014,
                                   2015,                             2016,
                                   2017,                             2018,
                                   2019,                          '2020p',
                                '2021p'],
      dtype='object')

In [ ]:
## TAREA COMO SACO A COLOMBIA DE LA BASE!

In [ ]:
df['pib-colombia-2005']= df[2005].sum()  # not is a FCO crate the c...

In [ ]:
df['sharing-2005'] = df[2005]/df['pib-colombia-2005']

In [ ]:
for year in range(2005, 2020):
  df[str(year)+'-share'] = df[year]/df[year].sum()

In [ ]:
df.columns

Index(['Código Departamento (DIVIPOLA)',                  'DEPARTAMENTOS',
                                   2005,                             2006,
                                   2007,                             2008,
                                   2009,                             2010,
                                   2011,                             2012,
                                   2013,                             2014,
                                   2015,                             2016,
                                   2017,                             2018,
                                   2019,                          '2020p',
                                '2021p',              'pib-colombia-2005',
                         'sharing-2005',                     '2005-share',
                           '2006-share',                     '2007-share',
                           '2008-share',                     '2009-share',
                           '2010-share',                     '2011-share',
                           '2012-share',                     '2013-share',
                           '2014-share',                     '2015-share',
                           '2016-share',                     '2017-share',
                           '2018-share',                     '2019-share'],
      dtype='object')

In [ ]:
df.head()

,Código Departamento (DIVIPOLA),DEPARTAMENTOS,2005,2006,2007,2008,2009,2010,2011,2012,...,2010-share,2011-share,2012-share,2013-share,2014-share,2015-share,2016-share,2017-share,2018-share,2019-share
0,NaN,COLOMBIA,514853.000000,549435.000000,586457.000000,605713.000000,612616.000000,640151.000000,684628.000000,711415.000000,...,0.498289,0.499433,0.499186,0.500144,0.500081,0.500000,0.500000,0.500010,0.499986,0.499973
1,91.0,Amazonas,413.007446,432.519609,442.275690,456.909813,469.917921,486.178057,500.812179,520.324342,...,0.000378,0.000365,0.000365,0.000362,0.000360,0.000369,0.000373,0.000378,0.000380,0.000378
2,5.0,Antioquia,73922.532786,79223.681846,84784.032893,86215.889649,85660.010691,88492.495048,95753.273585,99628.811719,...,0.068882,0.069852,0.069908,0.069552,0.071103,0.071733,0.072458,0.072644,0.073283,0.073571
3,81.0,Arauca,5044.233001,5101.916075,5537.575079,5778.933204,5768.307374,5284.073150,5077.628465,4819.572609,...,0.004113,0.003704,0.003382,0.003124,0.002757,0.002817,0.002600,0.002503,0.002514,0.002608
4,8.0,Atlántico,22121.967036,23862.690923,26106.040803,26748.374341,26735.527670,26632.754304,28126.179779,30066.027063,...,0.020731,0.020518,0.021097,0.021173,0.021608,0.022193,0.022123,0.022086,0.022019,0.021951

In [ ]:
df[df["DEPARTAMENTOS"]!='COLOMBIA']

,Código Departamento (DIVIPOLA),DEPARTAMENTOS,2005,2006,2007,2008,2009,2010,2011,2012,...,2010-share,2011-share,2012-share,2013-share,2014-share,2015-share,2016-share,2017-share,2018-share,2019-share
1,91.0,Amazonas,413.007446,432.519609,442.275690,456.909813,469.917921,486.178057,500.812179,520.324342,...,0.000378,0.000365,0.000365,0.000362,0.000360,0.000369,0.000373,0.000378,0.000380,0.000378
2,5.0,Antioquia,73922.532786,79223.681846,84784.032893,86215.889649,85660.010691,88492.495048,95753.273585,99628.811719,...,0.068882,0.069852,0.069908,0.069552,0.071103,0.071733,0.072458,0.072644,0.073283,0.073571
3,81.0,Arauca,5044.233001,5101.916075,5537.575079,5778.933204,5768.307374,5284.073150,5077.628465,4819.572609,...,0.004113,0.003704,0.003382,0.003124,0.002757,0.002817,0.002600,0.002503,0.002514,0.002608
4,8.0,Atlántico,22121.967036,23862.690923,26106.040803,26748.374341,26735.527670,26632.754304,28126.179779,30066.027063,...,0.020731,0.020518,0.021097,0.021173,0.021608,0.022193,0.022123,0.022086,0.022019,0.021951
5,11.0,Bogotá D.C.,135214.860000,144141.327225,153258.830699,158292.934352,161609.204236,167408.945355,176869.717089,183103.767181,...,0.130310,0.129026,0.128480,0.127159,0.127322,0.128297,0.128232,0.128798,0.129768,0.130104
6,13.0,Bolívar,18885.522452,20196.091190,21861.251037,22152.015746,22106.628084,23076.789358,25158.948349,25784.447064,...,0.017963,0.018353,0.018092,0.018955,0.017783,0.017463,0.017824,0.018178,0.018034,0.018110
7,15.0,Boyacá,13069.081142,13693.987327,15466.802714,16572.751789,16725.606539,17346.016996,18968.974784,19556.416570,...,0.013502,0.013838,0.013722,0.013459,0.013427,0.013772,0.013598,0.013556,0.013604,0.013465
8,17.0,Caldas,9411.269444,10153.804135,10745.287871,10926.549015,10424.105842,10675.327429,10695.997559,10777.088071,...,0.008310,0.007803,0.007562,0.007665,0.007746,0.007775,0.007804,0.007833,0.007842,0.007828
9,18.0,Caquetá,2088.258973,2172.860957,2336.424793,2460.507703,2543.699654,2573.310348,2663.552465,2982.219938,...,0.002003,0.001943,0.002093,0.002110,0.002126,0.002081,0.002086,0.002074,0.002064,0.002040
10,85.0,Casanare,10003.615838,9425.524808,8854.769959,8980.952265,9261.194363,9780.595948,11275.709550,11991.720775,...,0.007613,0.008226,0.008414,0.008470,0.008593,0.008267,0.007875,0.007783,0.007781,0.007656
11,19.0,Cauca,8246.810899,8748.703115,9211.988238,9806.201765,9839.773151,10527.986558,10924.128909,11911.127649,...,0.008195,0.007969,0.008358,0.008888,0.008893,0.009085,0.009115,0.008933,0.008863,0.008859
12,20.0,Cesar,9076.223521,9825.091628,10446.492824,10857.863312,11134.524450,11558.931327,12872.709612,13696.899077,...,0.008997,0.009391,0.009611,0.009086,0.009208,0.009053,0.009541,0.009682,0.009420,0.009445
13,27.0,Chocó,2530.592254,2536.523330,2587.925985,2732.248824,3135.561965,3793.911356,4031.154380,3876.946414,...,0.002953,0.002941,0.002720,0.002372,0.002221,0.002219,0.002292,0.002091,0.001875,0.001896
14,23.0,Córdoba,10343.082316,10794.849130,11699.868832,11089.091989,11377.390548,11607.732180,11546.803103,12683.650513,...,0.009035,0.008423,0.008900,0.008788,0.008755,0.008486,0.008358,0.008359,0.008311,0.008382
15,25.0,Cundinamarca,29886.401533,31299.959004,33896.565772,36147.410282,36255.884716,38164.356793,41523.674427,43035.536853,...,0.029707,0.030291,0.030197,0.029942,0.029579,0.029859,0.030189,0.030270,0.030181,0.030008
16,94.0,Guainía,208.752364,236.462855,223.531293,242.004953,245.699686,253.089150,254.936516,273.410176,...,0.000197,0.000186,0.000192,0.000194,0.000187,0.000191,0.000187,0.000183,0.000183,0.000183
17,95.0,Guaviare,522.750694,547.643584,595.769838,572.536474,555.941214,547.643584,560.919792,580.834104,...,0.000426,0.000409,0.000408,0.000407,0.000414,0.000421,0.000411,0.000416,0.000406,0.000406
18,41.0,Huila,9838.402357,9876.591207,10427.147121,10947.470196,11104.999200,11723.976802,12503.665813,12769.396558,...,0.009126,0.009121,0.008960,0.008901,0.008903,0.008578,0.008299,0.007934,0.007827,0.007803
19,44.0,La Guajira,6184.963023,6617.542282,6974.957060,7343.109621,7447.419513,7537.923685,8005.784231,8438.363490,...,0.005867,0.005840,0.005921,0.005670,0.005580,0.005385,0.005412,0.005402,0.005256,0.005081
20,47.0,Magdalena,7061.904383,7231.564417,7595.788712,8311.785189,8833.217406,9138.294166,9314.180257,9721.986946,...,0.007113,0.006795,0.006822,0.006847,0.006480,0.006533,0.006615,0.006599,0.006585,0.006539
21,50.0,Meta,9877.415412,11049.961915,11676.553845,13989.920677,16992.009864,21269.755617,25834.358858,27810.635095,...,0.016556,0.018846,0.019514,0.020609,0.019117,0.019083,0.017593,0.017428,0.017215,0.017475
22,52.0,Nariño,7862.351610,8681.624351,9037.185758,9031.259735,9238.670555,9259.411637,9828.309888,10376.467057,...,0.007207,0.007170,0.007281,0.007381,0.007402,0.007599,0.007766,0.007471,0.007402,0.007412
23,54.0,Norte de Santander,8050.091313,8981.214613,9661.877531,10288.028485,10587.107646,10706.444651,10946.591958,11117.494335,...,0.008334,0.007985,0.007801,0.007821,0.007840,0.007788,0.007938,0.007770,0.007814,0.007688
24,86.0,Putumayo,1491.840558,1627.065872,1824.814718,2034.195849,2482.038824,2819.375090,2926.973727,2905.163193,...,0.002195,0.002135,0.002038,0.002407,0.002419,0.002163,0.002100,0.002033,0.001986,0.001863
25,63.0,Quindío,4204.975490,4736.435433,4945.798441,4986.060558,4932.914564,5103.625939,5456.322083,5868.606160,...,0.003973,0.003980,0.004118,0.003967,0.003905,0.003965,0.004032,0.004045,0.003977,0.003954
26,66.0,Risaralda,9093.155637,9898.816104,10074.030880,10272.170954,10336.034284,10503.061454,10665.176060,10977.942623,...,0.008176,0.007780,0.007703,0.007900,0.007912,0.007864,0.007929,0.007928,0.007934,0.007926
27,88.0,"San Andrés, Providencia y Santa Catalina (Arch...",813.357941,872.021184,943.368372,941.782879,968.736261,984.591191,1036.912462,1078.135282,...,0.000766,0.000756,0.000757,0.000768,0.000767,0.000779,0.000794,0.000806,0.000804,0.000803
28,68.0,Santander,33528.209787,35773.590438,38353.018663,40470.589808,40212.066033,42785.684735,44685.398766,45841.493849,...,0.033304,0.032598,0.032166,0.031884,0.033357,0.032310,0.032365,0.032466,0.032166,0.032064
29,70.0,Sucre,4033.407729,4409.045236,4750.249305,4909.895245,5199.449157,5205.709782,5553.174476,5855.249637,...,0.004052,0.004051,0.004109,0.004102,0.004139,0.004087,0.004143,0.004193,0.004162,0.004179
30,73.0,Tolima,12491.495093,13277.807220,14601.112995,14863.217037,14816.869371,14820.065762,15312.309939,15830.125242,...,0.011536,0.011170,0.011108,0.011111,0.010994,0.010800,0.010778,0.010770,0.010608,0.010503
31,76.0,Valle del Cauca,51787.137693,56385.654928,61009.586596,62367.016261,62817.001205,63805.174122,66669.530111,69200.508550,...,0.049666,0.048635,0.048557,0.048310,0.048563,0.048512,0.048705,0.048909,0.049279,0.049373
32,97.0,Vaupés,137.347834,146.712459,168.563251,177.927876,184.170959,190.414042,201.339438,201.339438,...,0.000148,0.000147,0.000141,0.000145,0.000144,0.000145,0.000143,0.000144,0.000145,0.000146
33,99.0,Vichada,393.330756,414.402047,453.032746,467.080273,479.371859,482.883741,437.229278,454.788687,...,0.000376,0.000319,0.000319,0.000326,0.000313,0.000329,0.000322,0.000325,0.000326,0.000330

In [ ]:
df_ = pd.DataFrame({'var1':[100,56,30,102], 'var2':['A','B','A','B']})

In [ ]:
df_

   var1 var2
0   100    A
1    56    B
2    30    A
3   102    B

In [ ]:
df_['mean-var1'] = df_['var1'].mean()

In [ ]:
df_['under-over'] = df_['var1']>df_['mean-var1']

In [ ]:
df_

   var1 var2  mean-var1  under-over
0   100    A       72.0        True
1    56    B       72.0       False
2    30    A       72.0       False
3   102    B       72.0        True

In [ ]:
# Filter-> me interesa saber de los A quienes están por encima del promedio con var1
df_

   var1 var2  mean-var1  under-over
0   100    A       72.0        True
1    56    B       72.0       False
2    30    A       72.0       False
3   102    B       72.0        True

In [ ]:
df_['indicator'] = df_['var1']  >  df_['var1'].mean()

In [ ]:
df_

   var1 var2  mean-var1  under-over  indicator
0   100    A       72.0        True       True
1    56    B       72.0       False      False
2    30    A       72.0       False      False
3   102    B       72.0        True       True

In [ ]:
df_[(df_['indicator']==True) & (df_['var2']=='A')]

   var1 var2  mean-var1  under-over  indicator
0   100    A       72.0        True       True

# quiero saber para el 2005 que departamentos tienen una participación en el PIB total superior a la media de participación


13%

In [ ]:
df = df[df['DEPARTAMENTOS']!='COLOMBIA']

In [ ]:
df['share-2005'] = (df[2005]/df[2005].sum())*100

<ipython-input-91-5d029e8f03f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['share-2005'] = (df[2005]/df[2005].sum())*100

In [ ]:
df['share-2005']

1      0.079756
2     14.275214
3      0.974094
4      4.271983
5     26.111403
6      3.646992
7      2.523776
8      1.817415
9      0.403265
10     1.931803
11     1.592545
12     1.752714
13     0.488684
14     1.997357
15     5.771377
16     0.040312
17     0.100949
18     1.899898
19     1.194381
20     1.363728
21     1.907432
22     1.518302
23     1.554557
24     0.288090
25     0.812025
26     1.755983
27     0.157068
28     6.474648
29     0.778893
30     2.412238
31    10.000638
32     0.026523
33     0.075956
Name: share-2005, dtype: float64

In [ ]:
df['share-2005'].mean()

3.0303030303030307

In [ ]:
df['indicator']= df['share-2005']> df['share-2005'].mean()

<ipython-input-97-1d1f53da4efa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['indicator']= df['share-2005']> df['share-2005'].mean()

In [ ]:
df['indicator'].value_counts()

False    26
True      7
Name: indicator, dtype: int64

In [ ]:
df[df['indicator']==True]

,Código Departamento (DIVIPOLA),DEPARTAMENTOS,2005,2006,2007,2008,2009,2010,2011,2012,...,2012-share,2013-share,2014-share,2015-share,2016-share,2017-share,2018-share,2019-share,share-2005,indicator
2,5.0,Antioquia,73922.532786,79223.681846,84784.032893,86215.889649,85660.010691,88492.495048,95753.273585,99628.811719,...,0.069908,0.069552,0.071103,0.071733,0.072458,0.072644,0.073283,0.073571,14.275214,True
4,8.0,Atlántico,22121.967036,23862.690923,26106.040803,26748.374341,26735.527670,26632.754304,28126.179779,30066.027063,...,0.021097,0.021173,0.021608,0.022193,0.022123,0.022086,0.022019,0.021951,4.271983,True
5,11.0,Bogotá D.C.,135214.860000,144141.327225,153258.830699,158292.934352,161609.204236,167408.945355,176869.717089,183103.767181,...,0.128480,0.127159,0.127322,0.128297,0.128232,0.128798,0.129768,0.130104,26.111403,True
6,13.0,Bolívar,18885.522452,20196.091190,21861.251037,22152.015746,22106.628084,23076.789358,25158.948349,25784.447064,...,0.018092,0.018955,0.017783,0.017463,0.017824,0.018178,0.018034,0.018110,3.646992,True
15,25.0,Cundinamarca,29886.401533,31299.959004,33896.565772,36147.410282,36255.884716,38164.356793,41523.674427,43035.536853,...,0.030197,0.029942,0.029579,0.029859,0.030189,0.030270,0.030181,0.030008,5.771377,True
28,68.0,Santander,33528.209787,35773.590438,38353.018663,40470.589808,40212.066033,42785.684735,44685.398766,45841.493849,...,0.032166,0.031884,0.033357,0.032310,0.032365,0.032466,0.032166,0.032064,6.474648,True
31,76.0,Valle del Cauca,51787.137693,56385.654928,61009.586596,62367.016261,62817.001205,63805.174122,66669.530111,69200.508550,...,0.048557,0.048310,0.048563,0.048512,0.048705,0.048909,0.049279,0.049373,10.000638,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 1 to 33
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Código Departamento (DIVIPOLA)  33 non-null     float64
 1   DEPARTAMENTOS                   33 non-null     object
 2   2005                            33 non-null     float64
 3   2006                            33 non-null     float64
 4   2007                            33 non-null     float64
 5   2008                            33 non-null     float64
 6   2009                            33 non-null     float64
 7   2010                            33 non-null     float64
 8   2011                            33 non-null     float64
 9   2012                            33 non-null     float64
 10  2013                            33 non-null     float64
 11  2014                            33 non-null     float64
 12  2015                            33 non-null     float64
 13  2016                            33 non-null     float64
 14  2017                            33 non-null     float64
 15  2018                            33 non-null     float64
 16  2019                            33 non-null     float64
 17  2020p                           33 non-null     float64
 18  2021p                           33 non-null     float64
 19  pib-colombia-2005               33 non-null     float64
 20  sharing-2005                    33 non-null     float64
 21  2005-share                      33 non-null     float64
 22  2006-share                      33 non-null     float64
 23  2007-share                      33 non-null     float64
 24  2008-share                      33 non-null     float64
 25  2009-share                      33 non-null     float64
 26  2010-share                      33 non-null     float64
 27  2011-share                      33 non-null     float64
 28  2012-share                      33 non-null     float64
 29  2013-share                      33 non-null     float64
 30  2014-share                      33 non-null     float64
 31  2015-share                      33 non-null     float64
 32  2016-share                      33 non-null     float64
 33  2017-share                      33 non-null     float64
 34  2018-share                      33 non-null     float64
 35  2019-share                      33 non-null     float64
 36  share-2005                      33 non-null     float64
 37  indicator                       33 non-null     bool
dtypes: bool(1), float64(36), object(1)
memory usage: 9.8+ KB

In [ ]:
df[df['share-2005'] > df['share-2005'].mean()]

,Código Departamento (DIVIPOLA),DEPARTAMENTOS,2005,2006,2007,2008,2009,2010,2011,2012,...,2012-share,2013-share,2014-share,2015-share,2016-share,2017-share,2018-share,2019-share,share-2005,indicator
2,5.0,Antioquia,73922.532786,79223.681846,84784.032893,86215.889649,85660.010691,88492.495048,95753.273585,99628.811719,...,0.069908,0.069552,0.071103,0.071733,0.072458,0.072644,0.073283,0.073571,14.275214,True
4,8.0,Atlántico,22121.967036,23862.690923,26106.040803,26748.374341,26735.527670,26632.754304,28126.179779,30066.027063,...,0.021097,0.021173,0.021608,0.022193,0.022123,0.022086,0.022019,0.021951,4.271983,True
5,11.0,Bogotá D.C.,135214.860000,144141.327225,153258.830699,158292.934352,161609.204236,167408.945355,176869.717089,183103.767181,...,0.128480,0.127159,0.127322,0.128297,0.128232,0.128798,0.129768,0.130104,26.111403,True
6,13.0,Bolívar,18885.522452,20196.091190,21861.251037,22152.015746,22106.628084,23076.789358,25158.948349,25784.447064,...,0.018092,0.018955,0.017783,0.017463,0.017824,0.018178,0.018034,0.018110,3.646992,True
15,25.0,Cundinamarca,29886.401533,31299.959004,33896.565772,36147.410282,36255.884716,38164.356793,41523.674427,43035.536853,...,0.030197,0.029942,0.029579,0.029859,0.030189,0.030270,0.030181,0.030008,5.771377,True
28,68.0,Santander,33528.209787,35773.590438,38353.018663,40470.589808,40212.066033,42785.684735,44685.398766,45841.493849,...,0.032166,0.031884,0.033357,0.032310,0.032365,0.032466,0.032166,0.032064,6.474648,True
31,76.0,Valle del Cauca,51787.137693,56385.654928,61009.586596,62367.016261,62817.001205,63805.174122,66669.530111,69200.508550,...,0.048557,0.048310,0.048563,0.048512,0.048705,0.048909,0.049279,0.049373,10.000638,True

In [ ]:
# TAREA.... 1

,Código Departamento (DIVIPOLA),DEPARTAMENTOS,2005,2006,2007,2008,2009,2010,2011,2012,...,2012-share,2013-share,2014-share,2015-share,2016-share,2017-share,2018-share,2019-share,share-2005,indicator
1,91.0,Amazonas,413.007446,432.519609,442.275690,456.909813,469.917921,486.178057,500.812179,520.324342,...,0.000365,0.000362,0.000360,0.000369,0.000373,0.000378,0.000380,0.000378,0.079756,False
2,5.0,Antioquia,73922.532786,79223.681846,84784.032893,86215.889649,85660.010691,88492.495048,95753.273585,99628.811719,...,0.069908,0.069552,0.071103,0.071733,0.072458,0.072644,0.073283,0.073571,14.275214,True
3,81.0,Arauca,5044.233001,5101.916075,5537.575079,5778.933204,5768.307374,5284.073150,5077.628465,4819.572609,...,0.003382,0.003124,0.002757,0.002817,0.002600,0.002503,0.002514,0.002608,0.974094,False
4,8.0,Atlántico,22121.967036,23862.690923,26106.040803,26748.374341,26735.527670,26632.754304,28126.179779,30066.027063,...,0.021097,0.021173,0.021608,0.022193,0.022123,0.022086,0.022019,0.021951,4.271983,True
5,11.0,Bogotá D.C.,135214.860000,144141.327225,153258.830699,158292.934352,161609.204236,167408.945355,176869.717089,183103.767181,...,0.128480,0.127159,0.127322,0.128297,0.128232,0.128798,0.129768,0.130104,26.111403,True
6,13.0,Bolívar,18885.522452,20196.091190,21861.251037,22152.015746,22106.628084,23076.789358,25158.948349,25784.447064,...,0.018092,0.018955,0.017783,0.017463,0.017824,0.018178,0.018034,0.018110,3.646992,True
7,15.0,Boyacá,13069.081142,13693.987327,15466.802714,16572.751789,16725.606539,17346.016996,18968.974784,19556.416570,...,0.013722,0.013459,0.013427,0.013772,0.013598,0.013556,0.013604,0.013465,2.523776,False
8,17.0,Caldas,9411.269444,10153.804135,10745.287871,10926.549015,10424.105842,10675.327429,10695.997559,10777.088071,...,0.007562,0.007665,0.007746,0.007775,0.007804,0.007833,0.007842,0.007828,1.817415,False
9,18.0,Caquetá,2088.258973,2172.860957,2336.424793,2460.507703,2543.699654,2573.310348,2663.552465,2982.219938,...,0.002093,0.002110,0.002126,0.002081,0.002086,0.002074,0.002064,0.002040,0.403265,False
10,85.0,Casanare,10003.615838,9425.524808,8854.769959,8980.952265,9261.194363,9780.595948,11275.709550,11991.720775,...,0.008414,0.008470,0.008593,0.008267,0.007875,0.007783,0.007781,0.007656,1.931803,False
11,19.0,Cauca,8246.810899,8748.703115,9211.988238,9806.201765,9839.773151,10527.986558,10924.128909,11911.127649,...,0.008358,0.008888,0.008893,0.009085,0.009115,0.008933,0.008863,0.008859,1.592545,False
12,20.0,Cesar,9076.223521,9825.091628,10446.492824,10857.863312,11134.524450,11558.931327,12872.709612,13696.899077,...,0.009611,0.009086,0.009208,0.009053,0.009541,0.009682,0.009420,0.009445,1.752714,False
13,27.0,Chocó,2530.592254,2536.523330,2587.925985,2732.248824,3135.561965,3793.911356,4031.154380,3876.946414,...,0.002720,0.002372,0.002221,0.002219,0.002292,0.002091,0.001875,0.001896,0.488684,False
14,23.0,Córdoba,10343.082316,10794.849130,11699.868832,11089.091989,11377.390548,11607.732180,11546.803103,12683.650513,...,0.008900,0.008788,0.008755,0.008486,0.008358,0.008359,0.008311,0.008382,1.997357,False
15,25.0,Cundinamarca,29886.401533,31299.959004,33896.565772,36147.410282,36255.884716,38164.356793,41523.674427,43035.536853,...,0.030197,0.029942,0.029579,0.029859,0.030189,0.030270,0.030181,0.030008,5.771377,True
16,94.0,Guainía,208.752364,236.462855,223.531293,242.004953,245.699686,253.089150,254.936516,273.410176,...,0.000192,0.000194,0.000187,0.000191,0.000187,0.000183,0.000183,0.000183,0.040312,False
17,95.0,Guaviare,522.750694,547.643584,595.769838,572.536474,555.941214,547.643584,560.919792,580.834104,...,0.000408,0.000407,0.000414,0.000421,0.000411,0.000416,0.000406,0.000406,0.100949,False
18,41.0,Huila,9838.402357,9876.591207,10427.147121,10947.470196,11104.999200,11723.976802,12503.665813,12769.396558,...,0.008960,0.008901,0.008903,0.008578,0.008299,0.007934,0.007827,0.007803,1.899898,False
19,44.0,La Guajira,6184.963023,6617.542282,6974.957060,7343.109621,7447.419513,7537.923685,8005.784231,8438.363490,...,0.005921,0.005670,0.005580,0.005385,0.005412,0.005402,0.005256,0.005081,1.194381,False
20,47.0,Magdalena,7061.904383,7231.564417,7595.788712,8311.785189,8833.217406,9138.294166,9314.180257,9721.986946,...,0.006822,0.006847,0.006480,0.006533,0.006615,0.006599,0.006585,0.006539,1.363728,False
21,50.0,Meta,9877.415412,11049.961915,11676.553845,13989.920677,16992.009864,21269.755617,25834.358858,27810.635095,...,0.019514,0.020609,0.019117,0.019083,0.017593,0.017428,0.017215,0.017475,1.907432,False
22,52.0,Nariño,7862.351610,8681.624351,9037.185758,9031.259735,9238.670555,9259.411637,9828.309888,10376.467057,...,0.007281,0.007381,0.007402,0.007599,0.007766,0.007471,0.007402,0.007412,1.518302,False
23,54.0,Norte de Santander,8050.091313,8981.214613,9661.877531,10288.028485,10587.107646,10706.444651,10946.591958,11117.494335,...,0.007801,0.007821,0.007840,0.007788,0.007938,0.007770,0.007814,0.007688,1.554557,False
24,86.0,Putumayo,1491.840558,1627.065872,1824.814718,2034.195849,2482.038824,2819.375090,2926.973727,2905.163193,...,0.002038,0.002407,0.002419,0.002163,0.002100,0.002033,0.001986,0.001863,0.288090,False
25,63.0,Quindío,4204.975490,4736.435433,4945.798441,4986.060558,4932.914564,5103.625939,5456.322083,5868.606160,...,0.004118,0.003967,0.003905,0.003965,0.004032,0.004045,0.003977,0.003954,0.812025,False
26,66.0,Risaralda,9093.155637,9898.816104,10074.030880,10272.170954,10336.034284,10503.061454,10665.176060,10977.942623,...,0.007703,0.007900,0.007912,0.007864,0.007929,0.007928,0.007934,0.007926,1.755983,False
27,88.0,"San Andrés, Providencia y Santa Catalina (Arch...",813.357941,872.021184,943.368372,941.782879,968.736261,984.591191,1036.912462,1078.135282,...,0.000757,0.000768,0.000767,0.000779,0.000794,0.000806,0.000804,0.000803,0.157068,False
28,68.0,Santander,33528.209787,35773.590438,38353.018663,40470.589808,40212.066033,42785.684735,44685.398766,45841.493849,...,0.032166,0.031884,0.033357,0.032310,0.032365,0.032466,0.032166,0.032064,6.474648,True
29,70.0,Sucre,4033.407729,4409.045236,4750.249305,4909.895245,5199.449157,5205.709782,5553.174476,5855.249637,...,0.004109,0.004102,0.004139,0.004087,0.004143,0.004193,0.004162,0.004179,0.778893,False
30,73.0,Tolima,12491.495093,13277.807220,14601.112995,14863.217037,14816.869371,14820.065762,15312.309939,15830.125242,...,0.011108,0.011111,0.010994,0.010800,0.010778,0.010770,0.010608,0.010503,2.412238,False
31,76.0,Valle del Cauca,51787.137693,56385.654928,61009.586596,62367.016261,62817.001205,63805.174122,66669.530111,69200.508550,...,0.048557,0.048310,0.048563,0.048512,0.048705,0.048909,0.049279,0.049373,10.000638,True
32,97.0,Vaupés,137.347834,146.712459,168.563251,177.927876,184.170959,190.414042,201.339438,201.339438,...,0.000141,0.000145,0.000144,0.000145,0.000143,0.000144,0.000145,0.000146,0.026523,False
33,99.0,Vichada,393.330756,414.402047,453.032746,467.080273,479.371859,482.883741,437.229278,454.788687,...,0.000319,0.000326,0.000313,0.000329,0.000322,0.000325,0.000326,0.000330,0.075956,False

In [ ]:
def vf(vp,r,n):
  return vp*((1+r)**n)

In [ ]:
vf(1,1,1)

2

In [ ]:
vf(100,0.22,12)

1087.2213398722909

In [ ]:
vf()