In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'var1':['a', 'b', 'a', 'd'],
                   'var2':[10,11,12,14] })

In [ ]:
df

  var1  var2
0    a    10
1    b    11
2    a    12
3    d    14

In [ ]:
df2 = df

In [ ]:
df2

  var1  var2
0    a    10
1    b    11
2    a    12
3    d    14

In [ ]:
df2.drop([1,3], axis=0, inplace=True)

In [ ]:
df

  var1  var2
0    a    10
2    a    12

In [ ]:
test = pd.DataFrame({'var1':[10,22,33,45], 'var2':[True, False, True, False]})

In [ ]:
test2 = test.copy()

In [ ]:
test2.drop([0,1], axis=0) # axis  = 0 filas

   var1   var2
2    33   True
3    45  False

In [ ]:
test.drop(['var1'], axis=1) # axis = 1 columns

    var2
0   True
1  False
2   True
3  False

In [ ]:
testing = pd.DataFrame({'var1':[10,22,34,45],
                        'var2': [True, False,True, False]
                        }, index=['soache', 'yeimi', 'andy', 'yeli'])

In [ ]:
testing.drop(['andy','soache'], axis=0, inplace=True)

In [ ]:
testing = testing.drop(['var2'], axis=1)

In [ ]:
testing

       var1
yeimi    22
yeli     45

In [ ]:
df2 = pd.DataFrame({'VARIABLE':[True, False, True, False],
                   'name var 2' :[10,20,30,54],
                    'Unamed var 3':['A', 'b', 'C','D']})

In [ ]:
df2 = df2.drop(columns=['Unamed var 3'])

In [ ]:
df2.drop([3], axis=0, inplace=True)

In [ ]:
# HINT: si la función, el método tiene disp.. el argumento o la opción
#inplace usenla...!

   VARIABLE  name var 2
0      True          10
1     False          20
2      True          30

In [ ]:
df2['indicator'] = df2['name var 2'] > df2['name var 2'].mean()

In [ ]:
df2['new'] = df2['name var 2'].mean()

In [ ]:
df2

   VARIABLE  name var 2  indicator   new
0      True          10      False  20.0
1     False          20      False  20.0
2      True          30       True  20.0

In [ ]:
data = {'var1':['bankrupt', 'no-bankrupt', 'bankrupt', 'no-bankrupt'],
        'X1':[10,20,30,40],
        'sector':['Financial', 'Software', 'Software', 'Financial']}

In [ ]:
data = pd.DataFrame(data)

In [ ]:
data

          var1  X1     sector
0     bankrupt  10  Financial
1  no-bankrupt  20   Software
2     bankrupt  30   Software
3  no-bankrupt  40  Financial

In [ ]:
data['var1']=='bankrupt'

0     True
1    False
2     True
3    False
Name: var1, dtype: bool

In [ ]:
data[pd.Series((True, False, True, False))]

       var1  X1     sector
0  bankrupt  10  Financial
2  bankrupt  30   Software

In [ ]:
data[data['var1']=='bankrupt']

       var1  X1     sector
0  bankrupt  10  Financial
2  bankrupt  30   Software

In [ ]:
data[data['sector']=='Financial']

          var1  X1     sector
0     bankrupt  10  Financial
3  no-bankrupt  40  Financial

In [ ]:
data['sector'].value_counts()

Financial    2
Software     2
Name: sector, dtype: int64

In [ ]:
data

          var1  X1     sector
0     bankrupt  10  Financial
1  no-bankrupt  20   Software
2     bankrupt  30   Software
3  no-bankrupt  40  Financial

In [ ]:
df_financial = data[data['sector']=='Financial']

In [ ]:
df_financial.shape

(2, 3)

In [ ]:
data['sector']=='Software'

0    False
1     True
2     True
3    False
Name: sector, dtype: bool

In [ ]:
data['var1']=='bankrupt'

0     True
1    False
2     True
3    False
Name: var1, dtype: bool

In [ ]:
data[(data['var1']=='bankrupt') & (data['sector']=='Software')]

       var1  X1    sector
2  bankrupt  30  Software

In [ ]:
data.columns = ['default', 'utility/asset', 'sector']

In [ ]:
data.columns = [col_name.upper() for col_name in data.columns] # list-comprenhesion

In [ ]:
data

       DEFAULT  UTILITY/ASSET     SECTOR
0     bankrupt             10  Financial
1  no-bankrupt             20   Software
2     bankrupt             30   Software
3  no-bankrupt             40  Financial

In [ ]:
data['SECTOR']  = data['SECTOR'].replace('Software', 'IT')

In [ ]:
type(data['DEFAULT']) # dataframe

pandas.core.series.Series

In [ ]:
len(dir(pd.Series()))

<ipython-input-108-21db34178b6c>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  len(dir(pd.Series()))

419

In [ ]:
len(dir(pd.DataFrame()))

435

In [ ]:
type(data[['DEFAULT']])

pandas.core.frame.DataFrame