In [13]:
# Iván Andrés Trujillo Abella
# ivantrujillo1292@gmail.com

In [14]:
import numpy as np
import pandas as pd

data = {'var1':[np.nan, 1, 2, 3, 4, 5, 6,],
        'var2': [np.nan, np.nan, 0, 0 ,1 ,0, 1],
        'var3': [np.nan, np.nan, np.nan, 1,1,1,1],
        'var4': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]}

In [15]:
df = pd.DataFrame(data)
N_cols = df.shape[1]

In [16]:
N_cols

4

In [17]:
1 - df.apply(lambda x: pd.isnull(x)).sum(axis=1)/N_cols

0    0.00
1    0.25
2    0.50
3    0.75
4    0.75
5    0.75
6    0.75
dtype: float64

In [18]:
df

   var1  var2  var3  var4
0   NaN   NaN   NaN   NaN
1   1.0   NaN   NaN   NaN
2   2.0   0.0   NaN   NaN
3   3.0   0.0   1.0   NaN
4   4.0   1.0   1.0   NaN
5   5.0   0.0   1.0   NaN
6   6.0   1.0   1.0   NaN

In [19]:
def complete_vars(df_):
  """
  percentage of columns with information
  """
  N_cols = df_.shape[1]
  return 1 - df.apply(lambda x: pd.isnull(x)).sum(axis=1)/N_cols

In [20]:
complete_vars(df)

0    0.00
1    0.25
2    0.50
3    0.75
4    0.75
5    0.75
6    0.75
dtype: float64

In [21]:
df['info'] = complete_vars(df)

In [22]:
df[-(df['info']==0)] # filtering..

   var1  var2  var3  var4  info
1   1.0   NaN   NaN   NaN  0.25
2   2.0   0.0   NaN   NaN  0.50
3   3.0   0.0   1.0   NaN  0.75
4   4.0   1.0   1.0   NaN  0.75
5   5.0   0.0   1.0   NaN  0.75
6   6.0   1.0   1.0   NaN  0.75

In [23]:
data = {'var1':[np.nan, 1, 2, 3, 4, 5, 6,],
        'var2': [np.nan, np.nan, 0, 0 ,1 ,0, 1],
        'var3': [np.nan, np.nan, np.nan, 1,1,1,1],
        'var4': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
        'event': [1,0,0,1,1,0,1]}
df = pd.DataFrame(data)

In [24]:
df['event']

0    1
1    0
2    0
3    1
4    1
5    0
6    1
Name: event, dtype: int64

In [25]:
df[df['event']==1]

   var1  var2  var3  var4  event
0   NaN   NaN   NaN   NaN      1
3   3.0   0.0   1.0   NaN      1
4   4.0   1.0   1.0   NaN      1
6   6.0   1.0   1.0   NaN      1

In [26]:
df[df['event']==1]['var3'].index

Int64Index([0, 3, 4, 6], dtype='int64')

In [27]:
df[df['event']==1]['var3'].replace(np.nan, 'aja')

0    aja
3    1.0
4    1.0
6    1.0
Name: var3, dtype: object

In [28]:
df.loc[df[df['event']==1].index, 'var3'] = df[df['event']==1]['var3'].replace(np.nan, df[df['event']==1]['var3'].mean())

In [29]:
## Here we
def imputation_mean(df_, target_var, condition_var, condition_value):
  """
  target_var: The variable that we want imputate
  condicion_var: The variable that we want uses to stratify the imputation
  """
  df = df_.copy()
  indices = df[df[condition_var]==condition_value].index
  mean_to_replace = df[df[condition_var]==condition_value][target_var].mean()
  df.loc[indices, target_var] = df[df[condition_var]==condition_value][target_var].replace(np.nan, mean_to_replace)
  return df[target_var]

In [30]:
imputation_mean(df, 'var3', 'event', 0)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: var3, dtype: float64

In [31]:
## Testing
data = pd.DataFrame({'income':[np.nan,10,20,30,12, 32, 53, np.nan, np.nan],
                     'unemployment':['yes','yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no']})

In [32]:
data[data['unemployment']=='no']['income'].mean()

34.333333333333336

In [33]:
data[data['unemployment']=='yes']['income'].mean()

18.0

In [34]:
imputation_mean(data,'income', 'unemployment', 'yes')

0    18.0
1    10.0
2    20.0
3    30.0
4    12.0
5    32.0
6    53.0
7     NaN
8     NaN
Name: income, dtype: float64

In [ ]:
imputation_mean(data,'income', 'unemployment', 'yes')

In [37]:
imputation_mean(data,'income', 'unemployment', 'no')

0          NaN
1    10.000000
2    20.000000
3    30.000000
4    12.000000
5    32.000000
6    53.000000
7    34.333333
8    34.333333
Name: income, dtype: float64

In [35]:
# Excersice make a function to stratify the imputation by all posible condition values!