In [ ]:
!pip install tableone

Requirement already satisfied: tableone in /usr/local/lib/python3.10/dist-packages (0.9.1)
Requirement already satisfied: jinja2>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.4)
Requirement already satisfied: numpy>=1.19.1 in /usr/local/lib/python3.10/dist-packages (from tableone) (1.26.4)
Requirement already satisfied: openpyxl>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.5)
Requirement already satisfied: pandas>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from tableone) (2.1.4)
Requirement already satisfied: scipy>=1.10.1 in /usr/local/lib/python3.10/dist-packages (from tableone) (1.13.1)
Requirement already satisfied: statsmodels>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from tableone) (0.14.2)
Requirement already satisfied: tabulate>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from tableone) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=3.1.4->tableone) (2.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=3.1.2->tableone) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.3->tableone) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.3->tableone) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0.3->tableone) (2024.1)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.14.1->tableone) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.14.1->tableone) (24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels>=0.14.1->tableone) (1.16.0)

In [ ]:
import pandas as pd
from tableone import TableOne
import numpy as np

In [ ]:
def is_binary(df_, nums):
    df = df_.copy()
    variables = []
    for var in nums:
        flag = True
        unique = df_[var].unique()
        for value in unique:
            if value not in [0, 1, np.nan, 0.0, 1.0]:
                flag = False
        if flag == True:
            variables.append(var)
    return variables

def breakdown_vars(df, off_binary=False):
    """
    This function allow us categorize accodign to numerical or not
    """
    binaries = is_binary(df, df.columns)
    categorial = []
    nonormal = []
    normal = []
    for t in df.columns:
        if off_binary == False:
          if (df[t].dtypes.name=="object" or df[t].dtypes.name=='category') and  t not in binaries:
            categorial.append(t)
        else:
           if (df[t].dtypes.name=="object" or df[t].dtypes.name=='category'):
            categorial.append(t)
        if (df[t].dtypes=="int64" or df[t].dtypes=="float64") and t not in binaries:
                n,p = stats.shapiro(df[t])
                if p<0.05:
                    nonormal.append(t)
                else:
                    normal.append(t)
    if off_binary == False:
      return categorial, binaries, nonormal, normal
    else:
      return categorial, nonormal, normal

In [ ]:
url = "https://raw.githubusercontent.com/it-ces/Datasets/main/basesuper.csv"
df_ = pd.read_csv(url)
df = df_[['Ganancia (pérdida)', 'Pasivos corrientes totales',
    'Clasificación Industrial Internacional Uniforme Versión 4 A.C',
      'Activos corrientes totales','Patrimonio total','y']].copy()

In [ ]:
df['sector'] = df['Clasificación Industrial Internacional Uniforme Versión 4 A.C'].apply(lambda x: str(x)[0])
df['y'] = df['y'].astype('object')

In [ ]:
df.drop(columns=['Clasificación Industrial Internacional Uniforme Versión 4 A.C'], inplace=True)

In [ ]:
cat, nonormal ,  normal = breakdown_vars(df,  off_binary=True)

/usr/local/lib/python3.10/dist-packages/scipy/stats/_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 12773.
  res = hypotest_fun_out(*samples, **kwds)

In [ ]:
from tableone  import TableOne, load_dataset
from scipy import stats
print(len(df.columns))
print(len(normal) + len(nonormal) + len(cat))
mytable = TableOne(df,categorical=cat, nonnormal=nonormal, groupby='sector', pval=True)

6
6

In [ ]:
mytable.to_excel("my-table.xlsx")

In [ ]:
mytable

                                             Grouped by sector
                                                       Missing                           Overall                                 A                                 B                                 C                                 D                                E                                 F                                 G                                H                                 I                                 J                                  K                                 L                                M                                 N                                O                                 P                                 Q                                R                                S P-Value
n                                                                                          12773                               733                               255                              1822                                 9                               17                              1618                              3595                              219                               235                               293                                457                              1966                              843                               482                                1                                59                                35                               80                               54
Ganancia (pérdida), median [Q1,Q3]                           0        187371.0 [3675.0,681056.0]      97653.0 [-103526.0,444388.0]      74013.0 [-281084.5,767595.0]       275665.0 [22589.2,781556.0]     144239.0 [-63003.0,1094791.0]       780.0 [-531311.0,361781.0]        151344.5 [3728.2,642608.8]       211765.0 [31266.0,634826.0]       202277.0 [2750.0,872540.5]      138257.0 [-23992.5,663072.0]      208029.0 [-5846.0,1024880.0]      281301.0 [-38479.0,1343709.0]       118030.5 [-8807.8,482576.0]      221492.0 [-4595.0,890181.5]        168991.0 [6016.0,839583.2]  -105486.0 [-105486.0,-105486.0]       237691.0 [65100.5,706183.5]      261058.0 [16654.5,1530502.0]     355573.5 [34187.0,1059300.8]       345564.5 [8042.8,748085.8]  <0.001
Pasivos corrientes totales, mean (SD)                       39            5619354.5 (13328241.8)            4529789.6 (10728632.0)            6397180.0 (16352880.2)            6722947.8 (13740183.5)             2316538.9 (1937039.2)            2193670.1 (2317777.9)            7070394.2 (15122086.8)            6707294.0 (14088271.7)           7179246.5 (15491826.4)             3853521.8 (6487036.4)            5990016.1 (11416573.5)             5683791.0 (24394824.2)             2447737.9 (6280911.0)            4116068.1 (9566198.9)            6008970.9 (15941764.3)                   676975.0 (0.0)             4492465.4 (4954204.2)             4861677.4 (6483644.1)            4074651.9 (6523565.8)            3246070.5 (2833205.9)  <0.001
Activos corrientes totales, median [Q1,Q3]                   0   4491986.0 [1500101.0,9941004.0]    2649477.0 [816881.0,5975328.0]    3631118.0 [758106.0,8765398.5]  5779041.5 [3235793.2,11080660.0]  3392063.0 [1713392.0,15009769.0]   1605928.0 [842239.0,4370100.0]  7320412.0 [2824704.5,16139178.0]  5526310.0 [2508484.5,11056367.5]  4729421.0 [1783176.5,9362312.0]    2008889.0 [813402.5,4259616.0]  5056391.0 [2506462.0,11703994.0]   4423245.0 [1112037.0,14003111.0]    1377987.0 [356064.2,3938783.5]   4159219.0 [977535.0,9200962.5]  4362558.0 [1942823.2,10371959.2]        75664.0 [75664.0,75664.0]    2252380.0 [911011.5,8244216.0]  4508347.0 [1123664.0,13632917.0]   2001370.0 [972389.0,4621039.0]  4700466.5 [1559290.0,9498173.0]  <0.001
Patrimonio total, median [Q1,Q3]                             0  4684946.0 [1719786.0,10505024.0]  9033928.0 [4291158.0,16180332.0]  4415023.0 [1431684.5,11663394.5]  5015353.5 [2429891.0,10277521.5]  6487133.0 [1527312.0,13012495.0]  3043033.0 [1636050.0,5730084.0]   3347683.5 [1029205.0,8260949.2]   3269043.0 [1338877.5,6971735.5]  4206772.0 [1244787.0,9430411.0]  5874049.0 [1374405.0,11509386.5]   3084918.0 [1045314.0,7937927.0]  12020148.0 [6999926.0,25329942.0]  7355397.0 [3741025.0,15042910.8]  4108501.0 [939806.0,10293194.0]  4021198.5 [1185617.5,10354428.5]  8710177.0 [8710177.0,8710177.0]  6269372.0 [2929540.0,11125905.0]  5587713.0 [1031725.5,13530187.0]  3795014.0 [1251731.8,7571080.8]  5438572.5 [1717018.5,9001027.2]  <0.001
y, n (%)                                   0                                        12598 (98.6)                        714 (97.4)                        253 (99.2)                       1789 (98.2)                         9 (100.0)                       17 (100.0)                       1593 (98.5)                       3544 (98.6)                       215 (98.2)                        229 (97.4)                        287 (98.0)                         456 (99.8)                       1957 (99.5)                       833 (98.8)                        475 (98.5)                        1 (100.0)                         58 (98.3)                         34 (97.1)                       80 (100.0)                       54 (100.0)   0.009
                                           1                                           175 (1.4)                          19 (2.6)                           2 (0.8)                          33 (1.8)                                                                                             25 (1.5)                          51 (1.4)                          4 (1.8)                           6 (2.6)                           6 (2.0)                            1 (0.2)                           9 (0.5)                         10 (1.2)                           7 (1.5)                                                            1 (1.7)                           1 (2.9)
sector, n (%)                              A                                           733 (5.7)                       733 (100.0)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 <0.001
                                           B                                           255 (2.0)                                                         255 (100.0)
                                           C                                         1822 (14.3)                                                                                          1822 (100.0)
                                           D                                             9 (0.1)                                                                                                                               9 (100.0)
                                           E                                            17 (0.1)                                                                                                                                                               17 (100.0)
                                           F                                         1618 (12.7)                                                                                                                                                                                               1618 (100.0)
                                           G                                         3595 (28.1)                                                                                                                                                                                                                                 3595 (100.0)
                                           H                                           219 (1.7)                                                                                                                                                                                                                                                                   219 (100.0)
                                           I                                           235 (1.8)                                                                                                                                                                                                                                                                                                     235 (100.0)
                                           J                                           293 (2.3)                                                                                                                                                                                                                                                                                                                                       293 (100.0)
                                           K                                           457 (3.6)                                                                                                                                                                                                                                                                                                                                                                          457 (100.0)
                                           L                                         1966 (15.4)                                                                                                                                                                                                                                                                                                                                                                                                           1966 (100.0)
                                           M                                           843 (6.6)                                                                                                                                                                                                                                                                                                                                                                                                                                             843 (100.0)
                                           N                                           482 (3.8)                                                                                                                                                                                                                                                                                                                                                                                                                                                                               482 (100.0)
                                           O                                             1 (0.0)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1 (100.0)
                                           P                                            59 (0.5)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   59 (100.0)
                                           Q                                            35 (0.3)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     35 (100.0)
                                           R                                            80 (0.6)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      80 (100.0)
                                           S                                            54 (0.4)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       54 (100.0)